/* Zynthian Webconf Style Variables*/
input,
select,
textarea,
div.slider.slider-horizontal {
  width: 100%;
}
input[type="checkbox"] {
  width: 20px;
  vertical-align: text-top;
}
.modal-header button {
  width: auto;
}
a {
  color: #000000;
}
a:hover {
  color: #c00127;
}
/* menu */
h1 a.navbar-brand {
  color: #000000;
}
.nav > li > a:hover {
  color: #c00127;
}
.navbar .navbar-nav > .active > a {
  color: #000000;
}
/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
  color: #000000;
  box-shadow: 0 0 0 4px #000000;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
  background: #000000;
  box-shadow: 0 0 0 8px #000000;
}
/* btn */
.btn-theme {
  background-color: #000000;
  color: #ffffff;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active {
  background-color: #c00127;
  color: #ffffff;
}
.btn-cta,
.btn-cta.btn-lg {
  background-color: #c00127;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-cta:focus,
.btn-cta:active {
  border-color: #c00127;
  color: #ffffff;
}
