/* Zynthian Webconf Style Variables*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 95%;
  background-color: #ffffff;
}
h3 {
  margin-top: 1em;
}
input,
select,
textarea {
  background: #fff;
  border: solid #ddd 1px;
  border-radius: 0.3em;
  padding: 0.3em;
}
.mar-top60 {
  margin-top: 60px;
}
.mar-top80 {
  /* 	margin-top: 80px; */
}
.mar-top160 {
  margin-top: 160px;
}
.mar-bot60 {
  margin-bottom: 60px;
}
.mar-bot80 {
  margin-bottom: 80px;
}
.mar-bot160 {
  margin-bottom: 160px;
}
.pad-top60 {
  padding-top: 60px;
}
.pad-top80 {
  padding-top: 80px;
}
.pad-top160 {
  padding-top: 160px;
}
.pad-bot60 {
  padding-bottom: 60px;
}
.pad-bot80 {
  padding-bottom: 80px;
}
.pad-bot160 {
  padding-bottom: 160px;
}
.hide {
  display: none;
}
.light {
  font-weight: normal !important;
}
.xsr-only {
  display: none;
}
header#header {
  background-color: transparent;
}
header#header .navbar-brand img {
  height: 50px;
}
header#header ul.navbar-nav {
  position: relative;
}
header#header ul.navbar-nav li {
  text-align: left;
  background: None;
}
header#header ul.navbar-nav li:hover,
header#header ul.navbar-nav li:active {
  background: None;
}
header#header ul.navbar-nav li a {
  padding-left: 1em;
  background: None;
}
header#header ul.navbar-nav li a:hover,
header#header ul.navbar-nav li a:active {
  color: #f30131;
}
header#header ul.navbar-nav .dropdown a.dropdown-toggle:focus,
header#header ul.navbar-nav .dropdown a.dropdown-toggle:active {
  background-color: transparent;
  color: #ffffff;
}
header#header ul.navbar-nav .dropdown .dropdown-menu {
  position: relative;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.95;
  padding-bottom: 1em;
  border-radius: 0 0 5% 5%;
}
header#header ul.navbar-nav .dropdown .dropdown-menu li {
  color: #ffffff;
}
header#header ul.navbar-nav .dropdown .dropdown-menu li a {
  margin-left: 0px;
  padding-left: 1em;
  font-size: 120%;
  color: #ffffff;
}
header#header ul.navbar-nav .dropdown .dropdown-menu li a:hover {
  color: #f30131;
  background-color: #000000;
  /*background-color: @grey;*/
}
.modal {
  color: #606060;
  background-color: #000000;
  overflow-y: auto;
}
.modal-header,
.modal-footer {
  color: #ffffff;
  background-color: #606060;
}
.modal-body {
  color: #ffffff;
  background-color: #000000;
}
.modal-body input,
.modal-body textarea,
.modal-body select {
  color: #202020;
}
.modal-body input[type='file'] {
  color: #ffffff;
}
.modal h3 {
  text-transform: none;
  color: #ffffff;
}
.modal h4 {
  text-transform: none;
  color: #ffffff;
}
.modal p {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 100%;
  color: #ffffff;
}
.content-section h2 {
  font-family: 'audiowide';
}
.content-section p {
  line-height: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 120%;
  color: #202020;
}
.content-section ul,
ol {
  padding-left: 0;
}
.content-section li {
  /*	font-size: 18px;*/
  line-height: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #202020 !important;
}
.content-section li li {
  line-height: 0.8em;
}
.content-section li a {
  color: #000000;
}
.content-section li a:hover {
  color: #c00127;
}
.form-control-feedback {
  border-radius: 0px 8px 8px 0px;
}
.input-zynthian {
  font-weight: 400;
  border-radius: 8px !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
textarea.input-zynthian {
  min-height: 12em;
}
.input-zynthian::-input-placeholder {
  color: #606060 !important;
}
.input-zynthian::-webkit-input-placeholder {
  color: #606060 !important;
}
.input-zynthian::-moz-placeholder {
  color: #606060 !important;
}
.input-zynthian::-ms-input-placeholder {
  color: #606060;
}
.col-fixheight input,
.col-fixheight select {
  margin: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  height: 1.9em;
}
.col-extra {
  padding-left: 0px !important;
}
@media (max-width: 1200px) {
  header#header ul.navbar-nav li a {
    font-size: 12px;
    padding-left: 1.2em;
    padding-right: 0.8em;
  }
}
@media (max-width: 990px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
    background-color: #000000;
    margin-bottom: 2px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse .navbar .navbar-nav > .active > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar-collapse.collapse .nav > li > a:hover {
    color: #c00127;
    background-color: #000000;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
@media (min-width: 768px) {
  .col-thin-padding {
    padding-left: 0px !important;
  }
  .col-thin-padding-extra {
    padding-left: 0px !important;
    padding-right: 0.3em !important;
  }
}
div.dashboard-block h3 {
  font-family: 'audiowide';
  margin-bottom: 0px;
  font-size: 130%;
  padding: 0.25em 0.5em;
  background: #000000;
  color: #ffffff;
  border-radius: 0.1em 0.4em;
}
div.dashboard-block div.content {
  margin: 0;
  padding: 0.5em;
  background: rgba(221, 221, 221, 0.3);
  border-radius: 0em 0em 0.5em 0.5em;
}
div.lib-treeview .row {
  padding-bottom: 10px;
}
div.treeview .node-selected {
  background-color: #fe8fa5 !important;
}
div.sw-jalv .row {
  padding-bottom: 10px;
}
div.sw-jalv .col-md-12,
div.sw-jalv .col-md-10,
div.sw-jalv .col-md-2 {
  padding-right: 0px;
  padding-left: 0px;
}
div#loading-div-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
div#loading-div {
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  border: 5px solid #404040;
  text-align: center;
  color: #606060;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form#config_block_form {
  background: #eaeaea;
}
div.nopadding-view {
  padding: 0px !important;
}
div.normal-view {
  background: #eaeaea;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div.advanced-view {
  display: none;
  background: #eaeaea;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div.tab-content {
  background: #eaeaea;
}
/*
div.tab-content div.advanced-view {
	padding-top: 0em;
	padding-bottom: 0em;
}
*/
div.normal-view hr,
div.advanced-view hr {
  border-top: solid 1px #d4d4d4;
  margin: 0px;
  padding: 0px;
  margin-top: 0.5em;
}
div#midi_filter_rule_panel input:disabled,
div#midi_filter_rule_panel select:disabled,
div#midi_filter_rule_panel select:disabled option {
  background-color: #d0d0d0;
}
div#drop-zone {
  /*Sort of important*/
  width: 300px;
  /*Sort of important*/
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  border: 2px dashed #ffffff;
  border-radius: 20px;
  font-family: Arial;
  text-align: center;
  position: relative;
  line-height: 180px;
  font-size: 20px;
  color: #ffffff;
}
div#drop-zone input {
  /*Important*/
  position: absolute;
  /*Important*/
  cursor: pointer;
  left: 0px;
  top: 0px;
  opacity: 0;
}
/*Important*/
div#drop-zone.mouse-over {
  border: 2px dashed #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
/*If you dont want the button*/
div#click-here {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: 20px;
  line-height: 26px;
  color: #ffffff;
  font-size: 12px;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  background-color: #000000;
}
div#click-here:hover {
  background-color: #c00127;
}
.box__dragndrop {
  display: none;
}
div#drop-zone.has-advanced-upload .box__dragndrop {
  display: inline;
}
div.log-panel {
  margin-top: 10px;
  /*	height: 600px;
	overflow-y: hidden;
	overflow: auto;*/
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: auto;
}
div.log-panel.updating {
  background-color: #606060;
  color: #ffffff;
}
div.jalv-lv2-plugin-panel {
  margin: 0 1em;
}
div.jalv-lv2-plugin-panel .advanced-view {
  background-color: transparent;
}
div.jalv-lv2-plugin-panel .header {
  background-color: #404040;
  color: #ffffff;
}
div .nav-tabs li {
  padding-top: 1.5em;
  padding-bottom: 0px;
}
div .nav-tabs li a {
  border-radius: 8px 8px 0 0 !important;
}
div .nav-tabs li.active a,
div .nav-tabs li.active a.focus {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-weight: bold;
}
div .nav-tabs li a:hover {
  background-color: #c00127;
  color: #ffffff;
}
div.one-line-truncated {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div#presets-search-result .action-buttons {
  font-size: 120%;
}
div#presets-search-result .action-buttons span:hover {
  color: #c00127;
  cursor: pointer;
}
.no-gutters {
  margin-right: 1px;
  margin-left: 1px;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}
table.table tr.success,
table.table tr.success th {
  background-color: #000000;
  color: #ffffff;
}
.table-hidden-header thead {
  display: none !important;
}
.midi-profile-value-column {
  word-break: break-word;
}
#snapshot-info-modal .modal-dialog {
  width: 700px;
}
.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*height: 50px;*/
  background-color: #c00127;
  color: white;
  padding-top: 12px;
  padding-bottom: 0px;
}
.main-footer p {
  font-size: 120%;
  color: #ffffff;
  padding-bottom: 0px;
}
@media print {
  body * {
    visibility: hidden;
  }
  #print_area,
  #print_area * {
    visibility: visible;
  }
  #print_area {
    position: absolute;
    left: 0;
    top: 0;
  }
}
#print_area table {
  border-collapse: collapse;
}
#print_area table td,
#print_area table th {
  border: 1px solid black;
  padding: 3px;
}
#print_area table tr:first-child td,
#print_area table tr:first-child th {
  border-top: 0;
}
#print_area table tr td:first-child,
#print_area table tr th:first-child {
  border-left: 0;
}
#print_area table tr:last-child td {
  border-bottom: 0;
}
#print_area table thead tr:last-child td {
  border-bottom: 1px solid black;
}
#print_area table tr td:last-child,
#print_area table tr th:last-child {
  border-right: 0;
}
