
/* Zynthian Webconf Style Variables*/
@dark: #000000;
@light: #ffffff;
@zynred: #c00127;
@darktext: #202020;
@grey: #606060;
@darkgrey: #404040;
@lightgrey: #d0d0d0;
@bg1: #ffffff;
@bg2: #e0e0e0;
@bg3: #f0f0f0;
@slideSpeed: 2s;

