
@import "variables.less";
@import "elements.less";

//-----------------------------------------------------------------------------
// Style "Mi Primer Bitcoin"
//-----------------------------------------------------------------------------

html,
body {
	height: 95%;
	background-color: @bg1;
}

h3 {
	margin-top: 1em;
}

//-----------------------------------------------------------------------------

.mar-top60 {
	margin-top: 60px;
}
.mar-top80 {
	margin-top: 80px;
}
.mar-top160 {
	margin-top: 160px;
}

.mar-bot60 {
	margin-bottom: 60px;
}
.mar-bot80 {
	margin-bottom: 80px;
}
.mar-bot160 {
	margin-bottom: 160px;
}

.pad-top60 {
	padding-top: 60px;
}
.pad-top80 {
	padding-top: 80px;
}
.pad-top160 {
	padding-top: 160px;
}

.pad-bot60 {
	padding-bottom: 60px;
}
.pad-bot80 {
	padding-bottom: 80px;
}
.pad-bot160 {
	padding-bottom: 160px;
}

.hide {
	display: none;
}
.light {
	font-weight: normal !important;
}
.xsr-only {
	display: none;
}

//-----------------------------------------------------------------------------

header#header {
	position: absolute;
	z-index: 100;
	background-color: transparent;
}

header#header .navbar-brand img {
	height: 50px;
}

header#header ul.navbar-nav li a {
	padding-left: 3em;
}

header#header ul.navbar-nav .dropdown a.dropdown-toggle:focus,
header#header ul.navbar-nav .dropdown a.dropdown-toggle:active {
	background-color: transparent;
	color: @light;
}

header#header ul.navbar-nav .dropdown .dropdown-menu {
	position:relative;
	background-color: @darkgrey;
	color: @light;
	opacity: 0.8;
}

header#header ul.navbar-nav .dropdown .dropdown-menu li {
	color: @light;
}

header#header ul.navbar-nav .dropdown .dropdown-menu li a {
	margin-left: 0px;
	padding-left: 1em;
	font-size: 120%;
	color: @light;
}
header#header ul.navbar-nav .dropdown .dropdown-menu li a:hover {
	color: @primary;
	background-color: @grey;
}

//-----------------------------------------------------------------------------

section.bg_logo_z {
	background: url("../img/logo/zynthian_logo_z_big_tenue.png") no-repeat center center;
	background-size: contain;
	//background-size: cover;
}

section.bg_logo_wave {
	background: url("../img/logo/zynthian_logo_square_big_tenue.png") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
}

//-----------------------------------------------------------------------------

.modal {
	color: @grey;
	background-color: @dark;
	overflow-y:auto;
}

.modal-header,
.modal-footer {
	color: @light;
	background-color: @grey;
}

.modal-body {
	color: @light;
	background-color: @dark;
}

.modal-body input,
.modal-body textarea,
.modal-body select
{
	color: @darktext;
}

.modal-body input[type='file']{
	color: @light
}

.modal h4 {
	text-transform: none;
	color: @light;
}

.modal p {
	margin-top: 12px;
	margin-bottom: 0px;
	font-size: 100%;
	color: @light;
}

//-----------------------------------------------------------------------------

.content-section p {
	line-height: 1.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 120%;
	color: @darktext;
}

.content-section ul, ol {
	padding-left: 0;
}

.content-section li {
/*	font-size: 18px;*/
	line-height: 1.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: @darktext !important;
}

.content-section li li {
	line-height: 0.8em;
}

.content-section li a {
	color: lighten(@darktext,30%);
}
.content-section li a:hover {
	color: @primary;
}

.testimonial h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	opacity: 0.7;
	-moz-text-outline: 2px 2px @dark;
	-webkit-text-outline: 2px 2px @dark;
	text-outline: 2px 2px @dark;
	background-color: @dark;
}


//-----------------------------------------------------------------------------

.form-control-feedback {
/*
	color: @light;
	background-color: @primary;
	border-color: @primary;
*/
	border-radius: 0px 8px 8px 0px;
}

.input-zynthian {
	font-weight: 400;
	border-radius: 8px !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.input-zynthian:hover,
.input-zynthian:active,
.input-zynthian:focus {
/*
	outline: 0 !important;
	color: @dark;
	background-color: @primary;
*/
}

textarea.input-zynthian {
	min-height: 12em;
}

.input-zynthian::-input-placeholder { color: @grey !important; }
.input-zynthian::-webkit-input-placeholder { color: @grey !important; }
.input-zynthian::-moz-placeholder { color: @grey !important; }
.input-zynthian::-ms-input-placeholder { color: @grey; }

//-----------------------------------------------------------------------------

@media (max-width: 1200px) {
	header#header ul.navbar-nav li a {
		font-size: 12px;
		padding-left: 1.2em;
		padding-right: 0.8em;
	}
}

@media (max-width: 990px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
		opacity: 0.8;
	}

	.navbar-nav > li {
		float: none;
		background-color: @grey;
		margin-bottom: 2px;
		margin-bottom: 2px;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-collapse.collapse .navbar .navbar-nav > .active > a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.navbar-collapse.collapse .nav > li > a:hover {
		color: @primary;
		background-color: darken(@grey,5%);
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}


@media (max-width: 767px) {

}

//-----------------------------------------------------------------------------
// Webconf specific CSS
//-----------------------------------------------------------------------------


div.lib-treeview .row {
	padding-bottom: 10px;
}

div.sw-jalv .row {
	padding-bottom: 10px;
}

div.sw-jalv .col-md-12,
div.sw-jalv .col-md-10,
div.sw-jalv .col-md-2 {
    padding-right: 0px;
    padding-left: 0px;
}

div#loading-div-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
}

div#loading-div {
	width: 300px;
	height: 150px;
	background-color: #fff;
	border: 5px solid @darkgrey;
	text-align: center;
	color: @grey;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.advanced-view {
	display: none;
	background: lighten(@lightgrey,5%);
}


div#midi_filter_rule_panel input:disabled,
div#midi_filter_rule_panel select:disabled,
div#midi_filter_rule_panel select:disabled option {
	background-color: @lightgrey;
}

div#drop-zone {
	/*Sort of important*/
	width: 300px;
	/*Sort of important*/
	height: 200px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	border: 2px dashed @light;
	border-radius: 20px;
	font-family: Arial;
	text-align: center;
	position: relative;
	line-height: 180px;
	font-size: 20px;
	color: @light;
}

div#drop-zone input {
	/*Important*/
	position: absolute;
	/*Important*/
	cursor: pointer;
	left: 0px;
	top: 0px;
	opacity:0;
}

/*Important*/
div#drop-zone.mouse-over {
	border: 2px dashed @light;
	color: rgba(0,0,0,.5);
}

/*If you dont want the button*/
div#click-here {
	position: absolute;
	cursor: pointer;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: 20px;
	line-height: 26px;
	color: white;
	font-size: 12px;
	width: 100px;
	height: 26px;
	border-radius: 4px;
	background-color: #3b85c3;
}

div#click-here:hover {
	background-color: #4499DD;
}

.box__dragndrop {
  display: none;
}

div#drop-zone.has-advanced-upload .box__dragndrop {
  display: inline;
}

div.log-panel{
	margin-top: 10px;
/*	height: 600px;
	overflow-y: hidden;
	overflow: auto;*/
	white-space: nowrap;
	overflow-y: auto;
	overflow-x: auto;
}

div.log-panel.updating{
	background-color: @grey;
	color: @light;
}
div.jalv-lv2-plugin-panel .advanced-view {
	background-color: transparent;
}
div.jalv-lv2-plugin-panel .header {
	background-color: @lightgrey;
}

div .nav-tabs li.active a {
	//background-color: @lightgrey;
	color: @darkgrey;
	font-weight: bold;
}

div.one-line-truncated { 
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

div[root_var] {
	padding-left: 2em;
}

div#presets-search-result .action-buttons {
	font-size: 120%;
}

div#presets-search-result .action-buttons span:hover {
	color: @primary;
	cursor: pointer;
}

.no-gutters {
  margin-right: 1px;
  margin-left: 1px;

  > .col,
  > [class*="col-"] {
    padding-right: 1px;
    padding-left: 1px;
  }
}

.table-hidden-header thead {
    display: none !important;
}

.midi-profile-value-column {
    word-break: break-word;
}
