
<h2>{{ escape(title) }}</h2>

<form id="restore-upload-form" action="#" enctype="multipart/form-data" method="post">
{% module Template('upload.html', config=config) %}
</form>

<form id="backup-form" enctype="multipart/form-data" method="post">
	<ul class="nav nav-tabs" role="tablist">
		<li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == 'SYSTEM_BACKUP' %}active{% end %}"><a href="#system_backup" role="tab" data-toggle="tab">System Backup</a></li>
		<li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == 'DATA_BACKUP' %}active{% end %}"><a href="#data_backup" role="tab" data-toggle="tab">Data Backup</a></li>
		<li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == 'RESTORE' %}active{% end %}"><a href="#restore" role="tab" data-toggle="tab">Restore</a></li>
	</ul>


<div class="tab-content">
	<div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == 'SYSTEM_BACKUP' %}active{% end %}" id="system_backup">
		<div class="container-fluid">
			<div class="row">
			 <label>Directories containing system files:</label>
			 <textarea id="ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES" name="ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES" rows="5">
				 {% for system_backup_directory in config['ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES'] %}{{ system_backup_directory }}
				 {% end %}
			 </textarea>
		 </div>
		 <div class="row">
			<label>Excluded directories or files:</label>
			<input type="file" id="ZYNTHIAN_ADD_EXLUDED_SYSTEM_BACKUP_DIRECTORIES" name="ZYNTHIAN_ADD_EXLUDED_SYSTEM_BACKUP_DIRECTORIES" multiple style="display: none;"/>
			<input type="button" class="btn btn-theme btn-block" value="Browse..." onclick="document.getElementById('ZYNTHIAN_ADD_EXLUDED_SYSTEM_BACKUP_DIRECTORIES').click();" />
			<textarea id="ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES_EXCLUSIONS" name="ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES_EXCLUSIONS" rows="5">
				{% for system_backup_directory in config['ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES_EXCLUSIONS'] %}{{ system_backup_directory }}
				{% end %}
			</textarea>
		</div>
		<div class="row">
		 <button name="ZYNTHIAN_BACKUP_ACTION" value="SAVE_SYSTEM_BACKUP_DIRECTORIES" class="btn btn-lg btn-theme btn-block">SAVE</button>
	 	</div>
		  <div class="row">
		    <label>Resolved backup items as defined in /zynthian/config/system_backup_items.txt</label>
		    <table class="table table-striped table-bordered table-condensed">
		    {% for backupItem in config['ZYNTHIAN_SYSTEM_BACKUP_ITEMS'] %}
		    {% if config['ZYNTHIAN_SYSTEM_BACKUP_ITEMS'][backupItem] %}
		    <tr>
		      <td title="{% for backupItemFile in  config['ZYNTHIAN_SYSTEM_BACKUP_ITEMS'][backupItem] %}{{ escape(backupItemFile + '\n') }}{% end %}">{{ escape(backupItem)}} </td>
		    </tr>
		    {% end %}
		    {% end %}
		    </table>
		  </div>
		  <div class="row">
		    <button name="ZYNTHIAN_BACKUP_ACTION" value="SYSTEM_BACKUP" class="btn btn-lg btn-theme btn-block">BACKUP</button>
		  </div>
  	</div>
	</div>
	<div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == 'DATA_BACKUP' %}active{% end %}" id="data_backup">
		<div class="row">
		 <label>Directories containing data files:</label>
		 <textarea id="ZYNTHIAN_DATA_BACKUP_DIRECTORIES" name="ZYNTHIAN_DATA_BACKUP_DIRECTORIES" rows="5">
			 {% for data_backup_directory in config['ZYNTHIAN_DATA_BACKUP_DIRECTORIES'] %}{{ data_backup_directory }}
			 {% end %}
		 </textarea>
	 </div>
	 <div class="row">
		<label>Excluded directories or files: </label>
		<input type="file" id="ZYNTHIAN_ADD_EXLUDED_DATA_BACKUP_DIRECTORIES" name="ZYNTHIAN_ADD_EXLUDED_DATA_BACKUP_DIRECTORIES" multiple style="display: none;"/>
		<input type="button" class="btn btn-theme btn-block" value="Browse..." onclick="document.getElementById('ZYNTHIAN_ADD_EXLUDED_DATA_BACKUP_DIRECTORIES').click();" />
		<textarea id="ZYNTHIAN_DATA_BACKUP_DIRECTORIES_EXCLUSIONS" name="ZYNTHIAN_DATA_BACKUP_DIRECTORIES_EXCLUSIONS" rows="5">
			{% for data_backup_directory in config['ZYNTHIAN_DATA_BACKUP_DIRECTORIES_EXCLUSIONS'] %}{{ data_backup_directory }}
			{% end %}
		</textarea>
	</div>
	<div class="row">
	 <button name="ZYNTHIAN_BACKUP_ACTION" value="SAVE_DATA_BACKUP_DIRECTORIES" class="btn btn-lg btn-theme btn-block">SAVE</button>
	</div>
		<div class="row">
			<label>Backup items as defined in /zynthian/config/data_backup_items.txt</label>
			<table class="table table-striped table-bordered table-condensed">
			{% for backupItem in config['ZYNTHIAN_DATA_BACKUP_ITEMS'] %}
			{% if config['ZYNTHIAN_DATA_BACKUP_ITEMS'][backupItem] %}
			<tr>
				<td title="{% for backupItemFile in  config['ZYNTHIAN_DATA_BACKUP_ITEMS'][backupItem] %}{{ escape(backupItemFile + '\n') }}{% end %}">{{ escape(backupItem)}} </td>
			</tr>
			{% end %}
			{% end %}
			</table>
		</div>
		<div class="row">
			<button name="ZYNTHIAN_BACKUP_ACTION" value="DATA_BACKUP" class="btn btn-lg btn-theme btn-block">BACKUP</button>
		</div>
	</div>
	<div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == 'RESTORE' %}active{% end %}" id="restore">
		<div class="row">
			<input id="upload_show" class="btn btn-lg btn-theme" type="button" value="RESTORE"></input>
		</div>
		<div class="row">
				<div id="restore-log" class="log-panel"></div
		</div>
	</div>
</div>
<div class="row">
{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
</div>
</form>

<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all">
    PROCESSING. PLEASE WAIT...
  </div>
</div>

<script type="text/javascript">


$(document).ready(function (){
    $("#loading-div-background").hide();
		$('#input-uploadfile-type')[0].value = 'zip';

		var deferred = $.Deferred();
		deferred.done(function(value) {
			$("#upload_progress_panel").addClass("active");
			var socketMessage = {"handler_name": "UploadProgressHandler",
				"data": $('#input-uploadfile-session')[0].value};

			window.zynthianSocket.send(JSON.stringify(socketMessage));
		});
		connectZynthianWebSocket(deferred);


		var url = window.location.href
		var parts = url.split("/");
		$("#restore-upload-form").attr("action", "http://" + parts[2] + "/api/upload?destinationPath=/tmp&clientId=" + $('#input-uploadfile-session')[0].value)


		$('#upload_panel')[0].onuploadend = function(response){
				console.log("upload succeeded: " + response);
				var logDiv = $("#restore-log");
 				logDiv.addClass("updating");
 				logDiv.html('');

				var socketMessage = {"handler_name": "RestoreMessageHandler",
					"data": response};
				//zynthiansocket = connectWebsocket();

				window.zynthianSocket.registerHandler('RestoreMessageHandler', function(data) {
					if (data){
						console.log("RestoreMessageHandler:onmessage:", data);
						var logDiv = $("#restore-log");
						if (data == "EOCOMMAND"){
							logDiv.removeClass("updating");
						} else {
							logDiv.append(data + "<br />");
							logDiv[0].scrollTop = logDiv[0].scrollHeight;
						}
					}
				});
				window.zynthianSocket.send(JSON.stringify(socketMessage));
		}

});


function showProgressAnimation(){
    $("#loading-div-background").show();
}

addFilename = function(filesTextarea, files){
	var filesTextareaId = '#' + filesTextarea;
	filenames = $(filesTextareaId).html().trim() + '\n';

	for (var i = 0, f; f = files[i]; i++) {
		filenames += '' + f.name + '\n';
	}
	$(filesTextareaId).html(filenames);
	alert("You need to prepend the fullpath manually!");
}

$("#ZYNTHIAN_ADD_EXLUDED_DATA_BACKUP_DIRECTORIES").on('change', function(event) {
		 var filename = $(this).val();
		 addFilename('ZYNTHIAN_DATA_BACKUP_DIRECTORIES_EXCLUSIONS', event.target.files);
 });

 $("#ZYNTHIAN_ADD_EXLUDED_SYSTEM_BACKUP_DIRECTORIES").on('change', function(event) {
 		 var filename = $(this).val();
 		 addFilename('ZYNTHIAN_SYSTEM_BACKUP_DIRECTORIES_EXCLUSIONS', event.target.files);
  });







</script>
