
<style>
.treeview span.icon {
	width: 22px;
}
</style>

<h2>{{ title }}</h2>

<form id="captures-form" action="/lib-captures" enctype="multipart/form-data" method="post">
<div class="container-fluid lib-treeview">
	<div id="no-captures-panel" class="row">
		No captures have been made yet.
	</div>

	<div class="row">
		<div class="col-md-5">
			<div id="captures-tree"></div>
		</div>

		<div id="captures-panel" class="col-md-7">
			<input type="hidden" id="ZYNTHIAN_CAPTURES_FULLPATH" name="ZYNTHIAN_CAPTURES_FULLPATH">
			<input type="hidden" id="ZYNTHIAN_CAPTURES_BANK_TYPE" name="ZYNTHIAN_CAPTURES_BANK_TYPE">
			<input type="hidden" id="ZYNTHIAN_CAPTURES_DOWNLOAD_FILE" name="ZYNTHIAN_CAPTURES_DOWNLOAD_FILE">


			<div id="captures-input" class="row">
				<label for="ZYNTHIAN_CAPTURES_NAME">Capture:</label>
				<input type="text" id="ZYNTHIAN_CAPTURES_NAME" name="ZYNTHIAN_CAPTURES_NAME">
			</div>

			<div id="captures-buttons" class="row">
				<button name="ZYNTHIAN_CAPTURES_ACTION" value="RENAME" class="btn btn-theme">RENAME</button>
				<button name="ZYNTHIAN_CAPTURES_ACTION" value="DOWNLOAD" class="btn btn-theme">DOWNLOAD</button>
				<button name="ZYNTHIAN_CAPTURES_ACTION" value="REMOVE" onclick="return confirm('Are you sure?');" class="btn btn-danger">DELETE</button>
			</div>

			<div id="captures-player" class="row">
				<audio id="ZYNTHIAN_CAPTURES_PLAYER" controls src="">Browser does not support audio playback</audio>
			</div>

		</div>

	</div>

	<div class="row">
	{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
  </div>

</div>
</form>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all">
		PROCESSING. PLEASE WAIT...
	</div>
</div>

<script type="text/javascript">

var capturesForm = $('#captures-form')[0];

$(document).ready(function (){
	$("#loading-div-background").hide();
});


function showProgressAnimation(){
	$("#loading-div-background").show();
}

$('#captures-panel').hide();
var jsonTree = JSON.parse('{% raw config['ZYNTHIAN_CAPTURES'] %}')
$('#captures-tree').treeview({data: jsonTree, bootstrap2: true ,
	levels: 3,
	emptyIcon: "",
	expandIcon: "glyphicon glyphicon-folder-close",
	collapseIcon: "glyphicon glyphicon-folder-open",
	onNodeSelected: function(event, data) {
		if (data.fullpath==='ignore'){
			$('#ZYNTHIAN_CAPTURES_NAME')[0].value='';
			$("#ZYNTHIAN_CAPTURES_FULLPATH")[0].value = '';
			$('#captures-panel').hide();
		} else {
			$("#loading-div-background").css({ opacity: 1.0 });
			$('#ZYNTHIAN_CAPTURES_NAME')[0].value=data.text;
			$('#ZYNTHIAN_CAPTURES_PLAYER')[0].src="/captures"+data.fullpath;
			isMidi=(data.name.substr(data.name.length-3))=="mid";
			$('#ZYNTHIAN_CAPTURES_PLAYER')[0].style.display=isMidi?"none":"block";
			$("#ZYNTHIAN_CAPTURES_FULLPATH")[0].value = data.fullpath;
			$('#captures-panel').show();
		}
	}
});

if (jsonTree.length > 0){
	$('#captures-tree').treeview('selectNode', {% raw config['ZYNTHIAN_CAPTURES_SELECTION_NODE_ID'] %});
	$('#no-captures-panel').hide();
}

</script>
