
<div class="pull-right">
	<input type="checkbox" onChange="$('.advanced-view').slideToggle(500)"/><span>Advanced view</span>
</div>

<h2>{{ escape(title) }}</h2>

<form method="post">
{% for varname in config %}
	<div {% try %} {% if config[varname]['advanced'] %}class="advanced-view"{% end %} {% except %} {% end %}>
		<label>{{ escape(config[varname]['title']) }}:</label>
		{% if config[varname]['type'] != 'boolean' %} <br>{% end %}
		{% if config[varname]['type']=='text' %}
		<input name="{{ escape(varname) }}" value="{{ escape(config[varname]['value']) }}" />
		{% elif config[varname]['type']=='password' %}
		<input name="{{ escape(varname) }}" type="password" />
		{% elif config[varname]['type']=='boolean' %}
		<input name="{{ escape(varname) }}" type="checkbox" {% if escape(config[varname]['value'])=='1' %}checked{% end %} value="1" />
		{% elif config[varname]['type']=='textarea' %}
		{% if 'addButton' in config[varname] %}
		<button id="{{ config[varname]['addButton'] }}" type="button">+</button>
		{% end %}
		{% if 'addPanel' in config[varname] %}
		{% module Template(config[varname]['addPanel'], config=config[varname]['addPanelConfig']) %}
		{% end %}
		<textarea id="{{ escape(varname) }}" name="{{ escape(varname) }}" cols="{{ config[varname]['cols'] }}" rows="{{ config[varname]['rows'] }}">{{ config[varname]['value'].replace("\\n","\n") }}</textarea>
		{% elif config[varname]['type']=='select' %}
		<select name="{{ escape(varname) }}" onchange="set_presets(this)"><br>
		{% for option in config[varname]['options'] %}
			<option value="{{ escape(option) }}"
				{% if config[varname]['value']==option %}selected=1{% end %}
				{% if 'presets' in config[varname] %}
					{% for fn,preset in list(config[varname]['presets'][option].items()) %}
						data-{{ escape(fn) }}="{{ escape(preset) }}"
					{% end %}
				{% end %}
				>
				{% if 'option_labels' in config[varname] %}
					{{ escape(config[varname]['option_labels'][option]) }}
				{% else %}
					{{ escape(option) }}
				{% end %}
			</option>
		{% end %}
		</select>
		{% elif config[varname]['type']=='slider' %}
		<input
				type="text"
				name="{{ escape(varname) }}"
				data-provide="slider"
				data-slider-min="{{ config[varname]['min'] }}"
				data-slider-max="{{ config[varname]['max'] }}"
				data-slider-step="{{ config[varname]['step'] }}"
				data-slider-value="{{ config[varname]['value'] }}"
				data-slider-tooltip="show"
			/>
		{% end %}
		<br>
		{% if errors and varname in errors %}<div class="alert alert-danger">{{ escape(errors[varname]) }}</div>{% end %}
		<br>
	</div>
{% end %}
	<br>

	<input type="submit" value="Save" class="btn btn-lg btn-theme" />
	{% if handler.needs_reboot() == True %}
	<span class="label label-info">The zynthian will be rebooted if you save the changes.</span>
	{% end %}
</form>

<script>
function set_presets(sel) {
	$.each($(sel.form).serializeArray(), function(i, field) {
		var v=$(sel).find("option[value='"+$(sel).val()+"']").attr('data-'+field.name);
		if (v!=null) {
			$(sel.form).find("[name="+field.name+"]").val(v)
			console.log(field.name+' => '+v)
		}
	});
}
</script>
