
{% autoescape None %}

<div class="pull-right">
	<input id="check_advanced_view" type="checkbox" onChange="onchange_check_advanced_view()"/><span><label for="check_advanced_view">Advanced view</label></span>
</div>

<h2>{{ escape(title) }}</h2>

<form id="config_block_form" method="post">
{% set root_vars = {} %}
{% for varname in config %}
	{% set parts = varname.split('__') %}
	{% if len(parts)>1 %}
		{% set root_vars[parts[0]] = 1 %}
		{% set config[varname]['root_var'] = parts[0] %}
	{% end %}
{% end %}

{% for varname in config %}
	{% set div_class = 'col-xs-12' %}
	{% try %} {% set div_class = config[varname]['div_class'] %} {% except %} {% end %}
	{% if 'advanced' in config[varname] and config[varname]['advanced'] %}
		{% set div_class = div_class + " advanced-view" %}
	{% else %}
		{% set div_class = div_class + " normal-view" %}
	{% end %}
	{% if config[varname]['type'] not in ['hidden'] %}
	<div class="{{ div_class }}" {% try %} {{ "root_var=\"{}\"".format(config[varname]['root_var']) }} {% except %} {% end %} {% try %} {{ "enabling_options=\"{}\"".format(config[varname]['enabling_options']) }} {% except %} {% end %}>
	{% end %}

		{% if config[varname]['type'] not in ['button', 'hidden', 'html', 'jscript'] %}
			<label for="{{ escape(varname) }}">{{ escape(config[varname]['title']) }}&nbsp;</label>
			{% if config[varname]['type'] != 'boolean' %} <br>{% end %}
		{% end %}

		{% set value = '' %}
		{% if 'value' in config[varname] and config[varname]['value'] is not None %}
			{% set value = config[varname]['value'] %}
		{% end %}

		{% set disabled = "" %}
		{% if 'disabled' in config[varname] and config[varname]['disabled'] %}
			{% set disabled = "disabled=\"disabled\"" %}
		{% end %}
		
		{% if config[varname]['type']=='text' %}
			<input id="{{ escape(varname) }}" name="{{ escape(varname) }}" value="{{ escape(value) }}" {{ disabled }}>

		{% elif config[varname]['type']=='password' %}
			<input name="{{ escape(varname) }}" type="password" {{ disabled }}>

		{% elif config[varname]['type']=='boolean' %}
			{% set refresh_form = 0 %}
			{% if 'refresh_on_change' in config[varname] and config[varname]['refresh_on_change'] %}
				{% set refresh_form = 1 %}
			{% end %}
			<input id="{{ escape(varname) }}" name="{{ escape(varname) }}" type="checkbox" {% if escape(value)=='1' %}checked{% end %} value="1" {{ disabled }} {% if refresh_form %}onchange="refresh()" {% end %} {% if 'class' in config[varname] %}class="{{ config[varname]['class'] }}"{% end %}">
		{% elif config[varname]['type']=='hidden' %}
			<input id="{{ escape(varname) }}" name="{{ escape(varname) }}" type="hidden" value="{{ escape(value) }}" />

		{% elif config[varname]['type']=='button' %}
			{% if 'inline' in config[varname] and config[varname]['inline'] %} <label>&nbsp;</label> {% end %}
			<button id="{{ escape(varname) }}" name="{{ escape(varname) }}" type="{{ config[varname]['button_type'] }}"
			class="btn {% if 'class' in config[varname] %}{{ config[varname]['class'] }}{% end %}" {{ disabled }}>
				{% if 'icon' in config[varname] %}
					<i class="{{ config[varname]['icon'] }}"></i>
				{% end %}
				{{ config[varname]['title'] }}
			</button>
			{% if 'script_file' in config[varname] %}
				<script src="../js/{{ config[varname]['script_file'] }}" ></script>
			{% end %}

		{% elif config[varname]['type']=='textarea' %}
			{% if 'addButton' in config[varname] %}
				<button id="{{ config[varname]['addButton'] }}" class="btn-block" type="button">...</button>
			{% end %}
			{% if 'addPanel' in config[varname] %}
				{% module Template(config[varname]['addPanel'], config=config[varname]['addPanelConfig']) %}
			{% end %}
			<textarea id="{{ escape(varname) }}" name="{{ escape(varname) }}" cols="{{ config[varname]['cols'] }}" rows="{{ config[varname]['rows'] }}" {{ disabled }}>{{ value.replace("\\n","\n") }}</textarea>

		{% elif config[varname]['type']=='select' %}
			{% set refresh_subvars = 0 %}
			{% if varname in root_vars %}
				{% set refresh_subvars = 1 %}
			{% end %}
			{% set refresh_form = 0 %}
			{% if 'refresh_on_change' in config[varname] and config[varname]['refresh_on_change'] %}
				{% set refresh_form = 1 %}
			{% end %}
			{% if disabled %}
			<input type="hidden" name="{{ escape(varname) }}" value="{{ value }}" />
			{% end %}
			<select name="{{ escape(varname) }}" onchange="onchange_select(this,{{ refresh_subvars }}, {{ refresh_form }})"
			{% if 'class' in config[varname] %}class="{{ config[varname]['class'] }}"{% end %} {{ disabled }}>
				{% for option in config[varname]['options'] %}
				<option value="{{ escape(option) }}"
					{% if value==option %}selected=1{% end %}
					{% if 'presets' in config[varname] %}
						{% for fn,preset in list(config[varname]['presets'][option].items()) %}
							data-{{ escape(fn) }}="{{ url_escape(preset,False) }}"
						{% end %}
					{% end %}>
					{% if 'option_labels' in config[varname] %}
						{{ escape(config[varname]['option_labels'][option]) }}
					{% else %}
						{{ escape(option.replace('_', ' ').title()) }}
					{% end %}
				</option>
				{% end %}
			</select>

		{% elif config[varname]['type']=='slider' %}
			<input type="text" id="{{ escape(varname) }}" name="{{ escape(varname) }}" data-provide="slider"
				data-slider-min="{{ config[varname]['min'] }}"
				data-slider-max="{{ config[varname]['max'] }}"
				data-slider-step="{{ config[varname]['step'] }}"
				data-slider-value="{{ value }}"
				data-slider-tooltip="show"
			/>

		{% elif config[varname]['type']=='html' %}
			{{ config[varname]['content'] }}

		{% elif config[varname]['type']=='jscript' %}
			<script src="../js/{{ config[varname]['script_file'] }}" ></script>
		{% end %}

		{% if config[varname]['type'] not in ('hidden', 'html', 'jscript', 'button') %}
		{% if errors and varname in errors %}<div class="alert alert-danger">{{ errors[varname] }}</div>{% end %}
		{% end %}
	{% if config[varname]['type'] not in ['hidden'] %}
	</div>
	{% end %}
{% end %}

	<input type="hidden" id="_command" name="_command" value='SAVE'>
	<input type="hidden" id="_scrollTop" name="_scrollTop" value='0'>
	<button id="button-save-config" class="btn btn-lg btn-theme btn-block" title="Save Config"><i class="fa fa-check"></i> Save</button>
</form>

<script>
function set_presets(sel) {
	var serializedInputs = $(sel.form).serializeArray();
	$("input:checkbox").each(function(){
        serializedInputs.push({name: this.name, value: this.checked? this.value:"false"});
    });
	$.each(serializedInputs, function(i, field) {
		var v=$(sel).find("option[value='"+$(sel).val()+"']").attr('data-'+field.name);
		if (v!=null) {
			input = $(sel.form).find("[name="+field.name+"]");
			if (input[0].type=="checkbox"){
				input.prop("checked",v=="1"?true:false);
			} else {
				input.val(decodeURIComponent(v).replace(/\\n/g,"\n"))
			}
			//console.log(field.name+' => ' + v)
			//console.log(field.name+' => ' + decodeURIComponent(v))
		}
	});
}

function onchange_select(sel, refresh_subvars, refresh_form) {
	if (refresh_subvars) refresh_select_subvars(sel);
	else set_presets(sel);
	if (refresh_form) refresh();
}

function refresh_select_subvars(sel) {
	if (!(sel instanceof jQuery)) sel=$(sel);
	$("div[root_var="+sel.attr('name')+"][enabling_options]").hide();
	if (sel.val()) {
		var res=$("div[root_var="+sel.attr('name')+"][enabling_options~='"+sel.val()+"']");
		if (!Cookies.get('advanced_view')) res.not(".advanced-view").show()
		else res.show()
	}
}

function refresh_all_subvars() {
	{% for varname in root_vars %}
	$("select[name='{{ varname }}']").each(function () { refresh_select_subvars(this) })
	{% end %}
}

function restore_advanced_view() {
	if (Cookies.get('advanced_view')) {
		$('input#check_advanced_view').prop("checked", true);
		$('.advanced-view').show();
	} else {
		$('input#check_advanced_view').prop("checked", false);
		$('.advanced-view').hide();
	}
	refresh_all_subvars()
}

function onchange_check_advanced_view() {
	if ($('input#check_advanced_view').prop("checked")==true) {
		Cookies.set('advanced_view','1')
		$('.advanced-view').slideDown(500);
	} else {
		Cookies.remove('advanced_view')
		$('.advanced-view').slideUp(500);
	}
	refresh_all_subvars()
}

function refresh() {
	$('input#_command').val("REFRESH");
	$('input#_scrollTop').val($(document).scrollTop());
	$('form#config_block_form').submit();
}

$(document).ready(function() {
	restore_advanced_view()
});
</script>
