<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Zynthian Configuration</title>
	<meta name="description" content="Zynthian Configuration Web Tool">

	<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
	<!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
	<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
	<link rel="apple-touch-icon-precomposed" href="/img/favicon_180.png">
	<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
	<link rel="icon" href="/img/favicon_196.png">

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css">
	<link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/zynthian.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- JS libraries -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/js-cookie/src/js.cookie.js"></script>
	<script src="/bower_components/modernizr/modernizr.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
	<script src="/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script src="/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="/bower_components/websocket/build/websocket.min.js"></script>
	<script src="/js/zynthian-websocket.js"></script>

	<!-- Preload some images for avoiding problems when rebooting -->
	<link rel="preload" href="/img/loading.gif" as="image">
	<link rel="preload" href="/img/logo/zynthian_logo_black_trans_320.png" as="image">
</head>

<body>
	<img src="/img/loading.gif" style="display:none;">
	<!-- header -->
	<header id="header">
		<div class="navbar navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1>
						<a class="navbar-brand" href="/" title="Start">
							<img src="/img/logo/zynthian_logo_black_trans_320.png">
						</a>
					</h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
					{% if current_user is not None %}

							<li class="dropdown {% if request.uri[0:9]=="/lib-" %}active{% end %}">
								<a href="#menu-lib" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Library <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li {% if request.uri=="/lib-snapshot" %}class="active"{% end %}><a href="/lib-snapshot">Snapshots</a></li>
									<li {% if request.uri=="/lib-captures" %}class="active"{% end %}><a href="/lib-captures">Captures</a></li>
									<!--<li {% if request.uri=="/lib-soundfont" %}class="active"{% end %}><a href="/lib-soundfont">Soundfonts</a></li>-->
									<li {% if request.uri=="/lib-presets" %}class="active"{% end %}><a href="/lib-presets">Presets &amp; Soundfonts</a></li>
								</ul>
							</li>
							<li class="dropdown {% if request.uri[0:8]=="/hw-" %}active{% end %}">
								<a href="#menu-hw" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hardware <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li {% if request.uri=="/hw-kit" %}class="active"{% end %}><a href="/hw-kit">Kit</a></li>
									<li {% if request.uri=="/hw-audio" %}class="active"{% end %}><a href="/hw-audio">Audio</a></li>
									<li {% if request.uri=="/hw-display" %}class="active"{% end %}><a href="/hw-display">Display</a></li>
									<li {% if request.uri=="/hw-wiring" %}class="active"{% end %}><a href="/hw-wiring">Wiring</a></li>
									<li {% if request.uri=="/hw-options" %}class="active"{% end %}><a href="/hw-options">Options</a></li>
								</ul>
							</li>
							<li class="dropdown {% if request.uri[0:8]=="/sw-" %}active{% end %}">
								<a href="#menu-hw" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Software <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li {% if request.uri=="/sw-jalv-lv2" %}class="active"{% end %}><a href="/sw-jalv-lv2">LV2-Plugins</a></li>
									<li {% if request.uri=="/sw-pìanoteq" %}class="active"{% end %}><a href="/sw-pianoteq">Pianoteq</a></li>
									<li {% if request.uri=="/sw-update" %}class="active"{% end %}><a href="/sw-update">Update</a></li>
									<li {% if request.uri=="/sw-repos" %}class="active"{% end %}><a href="/sw-repos">Repositories</a></li>
								</ul>
							</li>
							<li class="dropdown {% if request.uri[0:8]=="/ui-" %}active{% end %}">
								<a href="#menu-ui" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Interface <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li {% if request.uri=="/ui-options" %}class="active"{% end %}><a href="/ui-options">UI Options</a></li>
									<li {% if request.uri=="/ui-keybind" %}class="active"{% end %}><a href="/ui-keybind">UI Key Binding</a></li>
									<li {% if request.uri=="/ui-log" %}class="active"{% end %}><a href="/ui-log">UI Log</a></li>
									<li {% if request.uri=="/ui-midi-options" %}class="active"{% end %}><a href="/ui-midi-options">MIDI Options</a></li>
									<li {% if request.uri=="/ui-midi-log" %}class="active"{% end %}><a href="/ui-midi-log">MIDI Log</a></li>
									<li><hr></li>
									{% try %}{% if 'modui_uri' in info %}
									<li><a href="{{ info['modui_uri'] }}" target="_blank">MOD-UI</a></li>
									{% end %}{% except %}{% end %}
									{% try %}{% if 'novnc0_uri' in info %}
									<li><a href="{{ info['novnc0_uri'] }}" target="_blank">VNC-UI</a></li>
									{% end %}{% except %}{% end %}
									{% try %}{% if 'novnc1_uri' in info %}
									<li><a href="{{ info['novnc1_uri'] }}" target="_blank">VNC-Engines</a></li>
									{% end %}{% except %}{% end %}
									<li {% if request.uri=="/zynterm" %}class="active"{% end %}><a href="/zynterm">Terminal</a></li>

								</ul>
							</li>
							<li class="dropdown {% if request.uri[0:9]=="/sys-" %}active{% end %}">
								<a href="#menu-sys" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li {% if request.uri=="/sys-wifi" %}class="active"{% end %}><a href="/sys-wifi">Wi-Fi</a></li>
									<li {% if request.uri=="/sys-security" %}class="active"{% end %}><a href="/sys-security">Security / Access</a></li>
									<li {% if request.uri=="/sys-backup" %}class="active"{% end %}><a href="/sys-backup">Backup / Restore</a></li>
									<li {% if request.uri=="/sys-reboot" %}class="active"{% end %}><a href="/sys-reboot">Reboot</a></li>
									<li {% if request.uri=="/sys-poweroff" %}class="active"{% end %}><a href="/sys-poweroff">Power Off</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#m" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://wiki.zynthian.org/index.php/Zynthian_UI_Users_Guide" target="_blank">User Interface</a></li>
									<li><a href="http://wiki.zynthian.org/index.php/Configuration_Users_Guide" target="_blank">Configuration</a></li>
									<li><a href="http://wiki.zynthian.org/index.php/MOD_Users_Guide" target="_blank">MOD-UI</a></li>
									<li><a href="http://wiki.zynthian.org/index.php/Command_Line_User_Guide" target="_blank">Command Line</a></li>
									<li><a href="http://wiki.zynthian.org/index.php/Accessing_Zynthian_from_your_computer" target="_blank">Accessing Zynthian</a></li>
									<li><a href="https://discourse.zynthian.org" target="_blank">Forum</a></li>
								</ul>
							</li>
						{% end %}
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section id="section-config" class="content-section container pad-top80 pad-bot80 clearfix bg_logo_wave">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				{% module Template(body, config=config, title=title, errors=errors) %}
			</div>
		</div>
	</section>

	{% if info and 'reboot_flag' in info and info['reboot_flag'] %}
	<div class="main-footer">
		<div class="col-lg-8 col-lg-offset-1 col-xs-12 col-xs-offset-0">
			<p>Zynthian needs to reboot to apply your changes!</p>
		</div>
		<div class="col-lg-2 col-xs-12">
			<p><a href="/sys-reboot"><button class="btn btn-danger">REBOOT NOW!</button></a><p>
		</div>
	</div>
	{% end %}

{% if info and 'scrollTop' in info %}
<script>
$(document).ready(function() {
	$(document).scrollTop({{ info['scrollTop'] }})
});
</script>
{% end %}

</body>

</html>
