
{% for group in config %}
<div class="col-lg-4 col-sm-6">
	<h3>{{ escape(group) }}</h3>
	{% for varname in config[group] %}
	<label>{{ escape(config[group][varname]['title']) }}:</label>
	{% if config[group][varname]['url'] %}
		<a href="{{ config[group][varname]['url'] }}">{{ escape(config[group][varname]['value']) }}</a>
	{% else %}
		{{ escape(config[group][varname]['value']) }}
	{% end %}
	<br>
	{% end %}
</div>
{% end %}

<div class="row">
{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
</div>
