
<style>
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>

<div class="row display-flex">
{% for group in config %}
<div class="col-lg-4 col-sm-6 dashboard-block">
	<h3><i class="{{ config[group]['icon'] }}"></i> {{ escape(group) }}</h3>
	<div class="content">
	{% for tag, info in config[group]['info'].items() %}
	<label>{{ escape(info['title']) }}{% if 'value' in info %}:{% end %}</label>
	{% if 'value' in info %}
	{% if 'url' in info %}
		<a href="{{ info['url'] }}">{{ escape(info['value']) }}</a>
	{% else %}
		{{ escape(info['value']) }}
	{% end %}
	{% end %}
	<br>
	{% end %}
	</div>
</div>
{% end %}
</div>

<div class="row">
{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
</div>
