<h2>{{ title }}</h2>

<style>
div.sw-jalv div.col-md-2 {
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 0.1em;
}
div.engines_panel button {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
div.engine_row:hover {
  background-color: #C0F0C0;
  cursor: pointer;
}
div.engine_row span.ranking_star_on {
  color: #F06000;
}
div.engine_row span.ranking_star_off {
  color: #A0A0A0;
}
div.engine_edit {
  display: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
div.engine_edit_sel {
  background-color: #C0F0C0;
}

div.engine_edit_sel div.engine_row {
  background-color: #C0F0C0;
  display: none;
}

div.engine_edit select {
  height: 2.3em;
  padding: 0.2em;
  margin: 0;
}
</style>

<form id="engines-form" action="/sw-engines" enctype="multipart/form-data" method="post">
    <input type="hidden" id="ZYNTHIAN_ACTIVE_TAB" name="ZYNTHIAN_ACTIVE_TAB" value="{{ config['ZYNTHIAN_ACTIVE_TAB'] }}" />
    <div class="container-fluid sw-jalv">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <input type="text" name="ZYNTHIAN_ENGINES_FILTER" id="ZYNTHIAN_ENGINES_FILTER" value="{{config['ZYNTHIAN_ENGINES_FILTER']}}" onchange="filter_engines();" onkeyup="filter_engines();"/>
            </div>
            <!--
            <div class="col-md-2 col-sm-12">
                <button name="ZYNTHIAN_ENGINES_FILTER_ACTION" class="btn btn-theme btn-block" onclick="filter_engines(); event.preventDefault();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            -->
            <div class="col-md-2 col-sm-12">
                <button name="ZYNTHIAN_ENGINES_ALL_ACTION" class="btn btn-theme btn-block" onclick="reset_filter(); event.preventDefault();"><i class="fa fa-globe"></i> All</button>
            </div>
            <div class="col-md-2 col-sm-12">
                <button name="ZYNTHIAN_ENGINES_ACTION" value="REGENERATE_ENGINES" class="btn btn-block btn-theme" onclick="confirm_long_time_proc(event)"><i class="fa fa-search"></i> Search for Engines</button>
            </div>
            <div class="col-md-2 col-sm-12">
                <button name="ZYNTHIAN_ENGINES_ACTION" value="REGENERATE_LV2_PRESETS_CACHE" class="btn btn-block btn-theme" onclick="confirm_long_time_proc(event)"><i class="fa fa-search"></i> Search for Presets</button>
            </div>
        </div>
    </div>

    {% if errors %}
    <div class="row">
       <div class="alert alert-danger">{{ escape(errors) }}</div>
    </div>
    {% end %}

    <ul class="nav nav-tabs" role="tablist">
    {% for eng_type in config['ZYNTHIAN_ENGINES'] %}
        {% set _eng_type = eng_type.replace(' ','_') %}
        <li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == _eng_type %}active{% end %}">
            <a id="#{{ _eng_type }}" href="#{{ _eng_type }}" class="tab_anchor" onclick="$('#ZYNTHIAN_ACTIVE_TAB').val('{{ eng_type }}')" role="tab" data-toggle="tab">{{ eng_type }}
               <span id="plugin_type_count_{{ eng_type }}">({{ len(config['ZYNTHIAN_ENGINES'][eng_type])  }})</span>
            </a>
        </li>
    {% end %}
    </ul>

    <div class="tab-content">
    {% for eng_type in config['ZYNTHIAN_ENGINES'] %}
        {% set _eng_type = eng_type.replace(' ','_') %}
        <div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == _eng_type %}active{% end %}" id="{{ _eng_type }}">
            <div class="container-fluid jalv-lv2-plugin-panel engines_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-1 header">Enabled</div>
                        <div class="col-xs-4 header">Title</div>
                        <div class="col-xs-3 header">Category</div>
                        <div class="col-xs-2 header">Quality</div>
                        <div class="col-xs-2 header">Complexity</div>
                    </div>
                    {% for eng_code in config['ZYNTHIAN_ENGINES'][eng_type] %}
                    {% set eng_info = config['ZYNTHIAN_ENGINES'][eng_type][eng_code] %}
                    <div id="engine_row_{{eng_info['ID']}}">
                    <div class="row plugin engine_row"  title="{{ eng_info['DESCR'] }}">
                        <div class="col-xs-1 engine-enabled">
                            <input type="checkbox" id="ENABLE_ENGINE_{{eng_code}}" {% if eng_info['ENABLED'] %} checked="checked" {% end %} onchange="enable_engine('{{ eng_code }}')">
                        </div>
                        <div class="col-xs-4 one-line-truncated engine-name" onclick="edit_engine('{{ eng_code }}')">
                            {{ eng_info['TITLE'] }}
                        </div>
                        <div class="col-xs-3 engine-cat" onclick="edit_engine('{{ eng_code }}')">
                            {{ eng_info['CAT'] }}
                        </div>
                        <div class="col-xs-2 engine-quality" onclick="edit_engine('{{ eng_code }}')">
                            <span class="ranking_star_on">{{ eng_info['QUALITY'] * "★" }}</span><span class="ranking_star_off">{{ (5 - eng_info['QUALITY']) * "★" }}</span>
                        </div>
                        <div class="col-xs-2 engine-complexity" onclick="edit_engine('{{ eng_code }}')">
                            <span class="ranking_star_on">{{ eng_info['COMPLEX'] * "⚈" }}</span><span class="ranking_star_off">{{ (5 - eng_info['COMPLEX']) * "⚈" }}</span>
                        </div>
                    </div>
                    </div>
                    {% end %}
                </div>

                <div id="engine_edit" class="engine_edit">
                    <div class="row plugin">
                        <input type="hidden" id="EDIT_CODE" value="">
                        <div class="col-xs-1 engine-enabled">
                            <input type="checkbox" id="EDIT_ENABLED" value="" onchange="edit_engine_save()">
                        </div>
                        <div class="col-xs-4 engine_name">
                            <input type="text" id="EDIT_TITLE" value="" oninput="edit_engine_save()">
                        </div>
                        <div class="col-xs-3 engine-type">
                            <select id="EDIT_CAT" value="" change="edit_engine_save()"></select>
                        </div>
                        <div class="col-xs-2 engine-quality">
                            <select id="EDIT_QUALITY" onchange="edit_engine_save()">
                                {% for r in range(6) %}
                                <option value="{{ r }}">{{ r * "★" }} ({{ r }})</option>
                                {% end %}
                            </select>
                        </div>
                        <div class="col-xs-2 engine-complexity">
                            <select id="EDIT_COMPLEX" onchange="edit_engine_save()">
                                {% for r in range(6) %}
                                <option value="{{ r }}">{{ r * "⚈" }} ({{ r }})</option>
                                {% end %}
                            </select>
                        </div>
                    </div>
                    <div class="row plugin">
                        <div class="col-xs-1">
                            &nbsp;
                        </div>
                        <div class="col-xs-10 engine-description">
                            <textarea id="EDIT_DESCR" oninput="edit_engine_save()"></textarea>
                        </div>
                        <div class="col-xs-1">
                            <button name="ZYNTHIAN_ENGINE_EDIT_SAVE" class="btn btn-theme btn-block" onclick="edit_engine_save_close(); event.preventDefault();">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% end %}
    </div>
</form>

<script type="text/javascript">
var eng_info = {% raw config['ZYNTHIAN_ENGINES_JSON'] %}
var eng_cats = {% raw config['ZYNTHIAN_ENGINE_CATS_JSON'] %}

function showProgressAnimation(){
    $("#loading-div-background").show();
}

$("#ZYNTHIAN_ENGINES_FILTER").on('keydown', function(e) {
    if (e.which == 13) {
        e.preventDefault();
	    filter_engines();
    }
});


$(document).ready(function() {
    filter_engines();
});

function reset_filter() {
   $("#ZYNTHIAN_ENGINES_FILTER")[0].value = "";
   filter_engines();
}

function filter_engines() {
    filter_value=$("#ZYNTHIAN_ENGINES_FILTER")[0].value.toUpperCase();
    $(".engine_row").each(function(index,row_div) {
	if (row_div.innerText.toUpperCase().includes(filter_value)){
            row_div.classList.remove("hide");    
        } else {
            row_div.classList.add("hide");    
        }
    });

    //recalc plugin count
   $(".engines_panel").each(function(index, panel_div) {
       var panel_divs = panel_div.getElementsByClassName('engine-name');
       var panel_count = 0;
       Array.from(panel_divs).forEach((plugin_type_div) => {
          if (!plugin_type_div.parentElement.classList.contains("hide")){
	     panel_count += 1;
          }
       });
       $(".tab_anchor").each(function(idx,tab_anchor){
          if(tab_anchor.id.indexOf(panel_div.parentElement.id)>=0){
             tab_anchor.innerText = panel_div.parentElement.id.replace("_", " ") + " (" + panel_count + ")";
          }
       });
   });
}

function confirm_long_time_proc(ev) {
    if (!confirm("This operation could take a long time to finish.\nAre you sure to continue?")) {
        ev.preventDefault();
    }
}

var dst_elm;
var src_elm;

function edit_engine(ecode) {
    var eng_div = "engine_row_" + eng_info[ecode]['ID']
    new_dst_elm = document.getElementById(eng_div)
    if (dst_elm) {
        // Check if already editing it
        if ((dst_elm == new_dst_elm) && dst_elm.classList.contains("engine_edit_sel")) return
        // Save last edit
        edit_engine_save_close()
    }
    // Start new Edit
    dst_elm = new_dst_elm;
    src_elm = document.getElementById("engine_edit")
    document.getElementById("EDIT_CODE").value = ecode
    document.getElementById("EDIT_ENABLED").checked = eng_info[ecode]["ENABLED"]
    document.getElementById("EDIT_TITLE").value = eng_info[ecode]["TITLE"]
    document.getElementById("EDIT_QUALITY").value = eng_info[ecode]["QUALITY"]
    document.getElementById("EDIT_COMPLEX").value = eng_info[ecode]["COMPLEX"]
    document.getElementById("EDIT_DESCR").value = eng_info[ecode]["DESCR"]
    // Category select options by type
    var cat_select = document.getElementById("EDIT_CAT")
    var n = cat_select.options.length - 1
    for (var i = n; i >= 0; i--) {
        cat_select.remove(i)
    }
    var cats = eng_cats[eng_info[ecode]["TYPE"]]
    for (i = 0; i < cats.length; i++)  {
        var option = document.createElement('option')
        option.value = option.text = cats[i]
        cat_select.add(option)
    }
    cat_select.value = eng_info[ecode]["CAT"]
    // DOM manupulation
    dst_elm.appendChild(src_elm)
    src_elm.style.display = "block"
    dst_elm.classList.add("engine_edit_sel")
}

function edit_engine_save(close=false) {
    var scode = document.getElementById("EDIT_CODE").value
    if (scode) {
        // Save values in engine info array
        eng_info[scode]["ENABLED"] = document.getElementById("EDIT_ENABLED").checked
        eng_info[scode]["TITLE"] = document.getElementById("EDIT_TITLE").value
        eng_info[scode]["CAT"] = document.getElementById("EDIT_CAT").value
        eng_info[scode]["QUALITY"] = document.getElementById("EDIT_QUALITY").value
        eng_info[scode]["COMPLEX"] = document.getElementById("EDIT_COMPLEX").value
        eng_info[scode]["DESCR"] = document.getElementById("EDIT_DESCR").value
        // Refresh engine's row content
        var eng_div = "div#engine_row_" + eng_info[scode]['ID']
        document.querySelector(eng_div + " div.engine-enabled input").checked = eng_info[scode]["ENABLED"];
        document.querySelector(eng_div + " div.engine-name").textContent = eng_info[scode]["TITLE"];
        document.querySelector(eng_div + " div.engine-cat").textContent = eng_info[scode]["CAT"];
        document.querySelector(eng_div + " div.engine-quality span.ranking_star_on").textContent = '★'.repeat(eng_info[scode]["QUALITY"]);
        document.querySelector(eng_div + " div.engine-quality span.ranking_star_off").textContent = '★'.repeat(5 - eng_info[scode]["QUALITY"]);
        document.querySelector(eng_div + " div.engine-complexity span.ranking_star_on").textContent = '⚈'.repeat(eng_info[scode]["COMPLEX"]);
        document.querySelector(eng_div + " div.engine-complexity span.ranking_star_off").textContent = '⚈'.repeat(5 - eng_info[scode]["COMPLEX"]);
        document.querySelector(eng_div + " div.engine_row").title = eng_info[scode]["DESCR"];
        // Send PUT request
        if (close) {
            var xhttp = new XMLHttpRequest()
            var request_data = "ENGINE_CODE=" + encodeURIComponent(scode)
            request_data += "&ENGINE_ENABLED=" + Number(eng_info[scode]["ENABLED"])
            request_data += "&ENGINE_NAME=" + encodeURIComponent(eng_info[scode]["NAME"])
            request_data += "&ENGINE_CAT=" + eng_info[scode]["CAT"]
            request_data += "&ENGINE_QUALITY=" + eng_info[scode]["QUALITY"]
            request_data += "&ENGINE_COMPLEX=" + eng_info[scode]["COMPLEX"]
            request_data += "&ENGINE_DESCR=" + eng_info[scode]["DESCR"]
            xhttp.open("PUT", "/sw-engines");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(request_data);
        }
    }
    if (close) {
        src_elm.style.display = "none"
        dst_elm.classList.remove("engine_edit_sel")
    }
}

function edit_engine_save_close() {
    edit_engine_save(true)
}

function enable_engine(ecode) {
    var engine_enabled = document.getElementById("ENABLE_ENGINE_" + ecode).checked
    // Save value in engine info array
    eng_info[ecode]["ENABLED"] = engine_enabled
    // Send PUT request
    var xhttp = new XMLHttpRequest()
    var request_data = "ENGINE_CODE=" + encodeURIComponent(ecode)
    request_data += "&ENGINE_ENABLED=" + Number(engine_enabled)
    xhttp.open("PATCH", "/sw-engines");
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send(request_data);
}

</script>
