
<style>
div.package {
	padding: 1.5em;
	padding-top: 0.5em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	border-bottom: 2px solid #e0e0e0;
}

div.installed {
	background-color: #f0fff0;
	border-color: #e0f0e0;
}

div.package img {
	float: right;
	width: 25%;
	margin: 1em;
	margin-right: 0em;
}

div.package div.info {
	width: 70%;
	padding-bottom: 1em;
	border-bottom: solid 1px #808080;
}

div.package div.description {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

div.package div.description div.extended {
	display: none;
}

div.package div.description p {
	font-size: 1em;
	color: #505050;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
</style>

<h2>{{ title }}</h2>

<form id="extra-packs-form" action="/lib-extra-packs" enctype="multipart/form-data" method="post">
	<input type="hidden" id="ZYNTHIAN_ACTIVE_TAB" name="ZYNTHIAN_ACTIVE_TAB" value="{{ config['ZYNTHIAN_ACTIVE_TAB'] }}" />
	<input type="hidden" id="ZYNTHIAN_EXTRAPACKS_INSTALL" name="ZYNTHIAN_EXTRAPACKS_INSTALL" value="">
	<input type="hidden" id="ZYNTHIAN_EXTRAPACKS_UNINSTALL" name="ZYNTHIAN_EXTRAPACKS_UNINSTALL" value="">

    <ul class="nav nav-tabs" role="tablist">
	{% for pack_type, packs in config['packs'].items() %}
		{% set _pack_type = pack_type.replace(' ','_') %}
		<li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == _pack_type %}active{% end %}">
			<a id="#{{ _pack_type }}" href="#{{ _pack_type }}" class="tab_anchor" onclick="$('#ZYNTHIAN_ACTIVE_TAB').val('{{ pack_type }}')" role="tab" data-toggle="tab">{{ pack_type }}
				<span id="pack_type_count_{{ _pack_type }}">({{ len(packs) }})</span>
			</a>
		</li>
	{% end %}
	</ul>

	<div class="tab-content">
	{% for pack_type, packs in config['packs'].items() %}
		{% set _pack_type = pack_type.replace(' ','_') %}
		<div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == _pack_type %}active{% end %}" id="{{ _pack_type }}">
		{% for pack_name, info in packs.items() %}
			<div class="package {% if info['installed'] %}installed{% end %}">
				<img src="{{ info['image'] }}">
				<h3>{{ info['title'] }}</h3>
				<div class="info">
					<b>Author:</b> {{ info['author'] }}{% if info['source_url'] %} (<a href="{{ info['source_url'] }}">source</a>){% end %}<br/>
					<b>License:</b> {{ info['license'] }}<br/>
					<b>Content:</b> {{ info['content'] }}<br/>
					<b>Size:</b> {{ info['size'] }}<br/>
				</div>
				<div class="description">
					{% raw info['description'] %}
					<div class="extended">
					{% raw info['description_extended'] %}
					</div>
				</div>
				{% if not info['installed'] %}
				<input id="install_{{ pack_name }}" class="btn btn-lg btn-success" type="button" value="Install '{{ info['name'] }}'" onclick="installPackage('{{ pack_name }}')">
				{% elif 'pack_url' in info %}
				<input id="uninstall_{{ pack_name }}" class="btn btn-lg btn-theme" type="button" value="Uninstall '{{ info['name'] }}'" onclick="uninstallPackage('{{ pack_name }}')">
				{% else %}
				<input id="none_{{ pack_name }}" class="btn btn-lg btn-warning" type="button" value="Already Installed!" onclick="">
				{% end %}
			</div>
		{% end %}
		</div>
	{% end %}
	</div>

	<div>
		{% if errors %}<div class="alert alert-danger">{% raw str(errors).replace("\n", "<br>") %}</div>{% end %}
	</div>
</form>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all">
		<span id="text"></span>'. Please wait...
	</div>
</div>

<script type="text/javascript">
$(document).ready(function (){
	$("#loading-div-background").hide();
});

function installPackage(pack_name) {
	if (confirm("Are you sure to install package '" + pack_name + "'?\nIt would take some time to download and install.")) {
		showInstallingBusy(pack_name);
		$("#ZYNTHIAN_EXTRAPACKS_INSTALL").val(pack_name)
		$("#ZYNTHIAN_EXTRAPACKS_UNINSTALL").val("")
		$("#extra-packs-form").submit()
	}
}

function uninstallPackage(pack_name) {
	if (confirm("Are you sure to uninstall package '" + pack_name + "'?")) {
		showUninstallingBusy(pack_name);
		$("#ZYNTHIAN_EXTRAPACKS_UNINSTALL").val(pack_name)
		$("#ZYNTHIAN_EXTRAPACKS_INSTALL").val("")
		$("#extra-packs-form").submit()
	}
}

function showInstallingBusy(pack_name){
	$("#loading-div-background #text").html("Installing package '" + pack_name + "'");
	$("#loading-div-background").show();
	show_busy()
}

function showUninstallingBusy(pack_name){
	$("#loading-div-background #text").html("Uninstalling package '" + pack_name + "'");
	$("#loading-div-background").show();
	show_busy()
}
</script>
