
<div class="pull-right">
	<input id="check_advanced_view" type="checkbox" onChange="onchange_check_advanced_view()"/><span>Advanced view</span>
</div>

<h2>{{ escape(title) }}</h2>

<form id="jalv-lv2-form" action="/api/sw-jalv-lv2" enctype="multipart/form-data" method="post">
<div class="container-fluid jalv-lv2-plugin-panel">
  <div class="row">

	  <div class="row">
		  <div  class="col-md-1 header advanced-view">
			  Enable
		  </div>
		  <div  class="col-md-5 header">
			  Name
		  </div>
		  <div  class="col-md-6 header">
		  URL
	  	</div>
	  </div>
	  {% for pluginname in config['ZYNTHIAN_JALV_PLUGINS'] %}
	  <div class="row {% if not config['ZYNTHIAN_JALV_PLUGINS'][pluginname]['ENABLED'] %} advanced-view {% end %}" >
		  <div id="plugin-installed" class="col-md-1 advanced-view">
			  <input type="checkbox" name="ZYNTHIAN_JALV_ENABLE_{{escape(pluginname)}}" {% if config['ZYNTHIAN_JALV_PLUGINS'][pluginname]['ENABLED'] %} checked="checked" {% end %}>
		  </div>
		  <div id="plugin-name" class="col-md-5">
			  {{ escape(pluginname) }}
		  </div>
		  <div id="plugin-url" class="col-md-6">
			  {{ escape(config['ZYNTHIAN_JALV_PLUGINS'][pluginname]['URL']) }}
		  </div>
	  </div>
	  {% end %}

	</div>
	
	<div class="row">
		{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
	</div>
</div>

<div class="container-fluid">
	<div class="row"><br/></div>
	<div class="row">
		<button name="ZYNTHIAN_JALV_ACTION" value="ENABLE_PLUGINS" class="btn btn-lg btn-theme advanced-view">Save</button>
		<button name="ZYNTHIAN_JALV_ACTION" value="REGENERATE_PLUGIN_LIST" class="btn btn-lg btn-theme advanced-view">Search for new Plugins</button>
	</div>
</div>

</form>



<script type="text/javascript">
var jalvForm = $('#jalv-lv2-form')[0];

$(document).ready(function (){

});

function showProgressAnimation(){
	$("#loading-div-background").show();
}

function restore_advanced_view() {
	if (Cookies.get('advanced_view')) {
		$('input#check_advanced_view').prop("checked", true);
		$('.advanced-view').show();
	} else {
		$('input#check_advanced_view').prop("checked", false);
		$('.advanced-view').hide();
	}
}

function onchange_check_advanced_view() {
	if ($('input#check_advanced_view').prop("checked")==true) {
		Cookies.set('advanced_view','1')
		$('.advanced-view').show();
	} else {
		Cookies.remove('advanced_view')
		$('.advanced-view').hide();
	}
}

$(document).ready(function() {
	restore_advanced_view()
});

</script>
