<h2>{{ title }}</h2>

<form id="jalv-lv2-form" action="/sw-jalv-lv2" enctype="multipart/form-data" method="post">
    <input type="hidden" id="ZYNTHIAN_ACTIVE_TAB" name="ZYNTHIAN_ACTIVE_TAB" value="{{ config['ZYNTHIAN_ACTIVE_TAB'] }}" />
    <div class="container-fluid sw-jalv">
        <div class="row">
            <div class="col-md-2">
                <input type="button" name="ZYNTHIAN_JALV_ALL_ACTION" value="ALL" class="btn btn-block btn-theme" onclick="javascript:reset_filter();" />
            </div>

            <div class="col-md-8">
              <input type="text" name="ZYNTHIAN_JALV_FILTER" id="ZYNTHIAN_JALV_FILTER" value="{{config['ZYNTHIAN_JALV_FILTER']}}"
                     onchange="javascript:filter_plugins();" onkeyup="javascript:filter_plugins();"/>
            </div>
            <div class="col-md-2">
                <input type="button" name="ZYNTHIAN_JALV_FILTER_ACTION" value="FILTER" class="btn btn-block btn-theme" onclick="javascript:filter_plugins();" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <button name="ZYNTHIAN_JALV_ACTION" value="REGENERATE_PLUGIN_LIST" class="btn btn-theme btn-block">Search for new Plugins &amp; Presets</button>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
    {% for pluginType in config['ZYNTHIAN_JALV_PLUGINS'] %}
    <li class="{% if config['ZYNTHIAN_ACTIVE_TAB'] == pluginType.replace(' ','_')  %}active{% end %}">
        <a id="#{{ pluginType.replace(' ','_') }}"
           href="#{{ pluginType.replace(' ','_') }}"
           class="tab_anchor"
           onclick="$('#ZYNTHIAN_ACTIVE_TAB').val('{{ pluginType.replace(' ','_') }}')" role="tab" data-toggle="tab">{{ pluginType }}
            <span id="plugin_type_count_{{ pluginType }}">({{ len(config['ZYNTHIAN_JALV_PLUGINS'][pluginType])  }})</span></a></li>
    {% end %}
    </ul>

    <div class="tab-content">
    {% for pluginType in config['ZYNTHIAN_JALV_PLUGINS'] %}
        <div class="tab-pane {% if config['ZYNTHIAN_ACTIVE_TAB'] == pluginType.replace(' ','_') %}active{% end %}" id="{{ pluginType.replace(' ','_') }}">
            <div class="container-fluid jalv-lv2-plugin-panel">
              <div class="row">
                  <div class="row">
                      <div  class="col-md-1 header">
                          Enable
                      </div>
                      <div  class="col-md-4 header">
                          Name
                      </div>
                      <div class="col-md-2 header">
                          Type
                      </div>
                      <div  class="col-md-5 header">
                      URI
                    </div>
                  </div>
                  {% for pluginname in config['ZYNTHIAN_JALV_PLUGINS'][pluginType] %}
                  <div class="row plugin" >
                      <div class="col-md-1 plugin-installed" >
                              <input type="checkbox"
                                     name="ZYNTHIAN_JALV_ENABLE_{{pluginname}}"
                                     {% if config['ZYNTHIAN_JALV_PLUGINS'][pluginType][pluginname]['ENABLED'] %} checked="checked" {% end %}
                            />
                      </div>
                      <div class="col-md-4 one-line-truncated plugin-name">
                          {{ pluginname }}
                      </div>
                      <div class="col-md-2 plugin-type">
                          {% if 'CLASS' in config['ZYNTHIAN_JALV_PLUGINS'][pluginType][pluginname] %}
                            {{ escape(config['ZYNTHIAN_JALV_PLUGINS'][pluginType][pluginname]['CLASS']) }}
                          {% end %}
                      </div>
                      <div class="col-md-5 one-line-truncated plugin-url">
                          {{ escape(config['ZYNTHIAN_JALV_PLUGINS'][pluginType][pluginname]['URL']) }}
                      </div>
                  </div>
                  {% end %}

                </div>

                <div class="row">
                        {% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
                </div>
            </div>
        </div>

    {% end %}
    </div>

    <div class="container-fluid">
        <div class="row"><br/></div>
        <div class="row">
            <button name="ZYNTHIAN_JALV_ACTION" value="ENABLE_PLUGINS" class="btn btn-lg btn-theme btn-block">Save</button>
        </div>
    </div>
</form>

<script type="text/javascript">
var jalvForm = $('#jalv-lv2-form')[0];

function showProgressAnimation(){
    $("#loading-div-background").show();
}

$("#ZYNTHIAN_JALV_FILTER").on('keydown', function(e) {
    if (e.which == 13) {
        e.preventDefault();
	filter_plugins();
    }
});

$(document).ready(function() {
    filter_plugins();
});

function reset_filter() {
   $("#ZYNTHIAN_JALV_FILTER")[0].value = "";
   filter_plugins();
}

function filter_plugins() {
    filter_value=$("#ZYNTHIAN_JALV_FILTER")[0].value.toUpperCase();
    $(".plugin").each(function(index,row_div) {
	if (row_div.innerText.toUpperCase().includes(filter_value)){
            row_div.classList.remove("hide");    
        } else {
            row_div.classList.add("hide");    
        }
    });

    //recalc plugin count
   $(".jalv-lv2-plugin-panel").each(function(index,plugin_panel_div) {
       var panel_divs = plugin_panel_div.getElementsByClassName('plugin-name');
       var panel_count = 0;
       Array.from(panel_divs).forEach((plugin_type_div) => {
          if (!plugin_type_div.parentElement.classList.contains("hide")){
	     panel_count += 1;
          }
       });
       $(".tab_anchor").each(function(idx,tab_anchor){
          if(tab_anchor.id.indexOf(plugin_panel_div.parentElement.id)>=0){
             tab_anchor.innerText = plugin_panel_div.parentElement.id.replace("_", " ") + " (" + panel_count + ")";	  
          }
       });
   });
}



</script>


