<div id="midi_ports_panel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Manage MIDI ports</h4>
    </div>
    <div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<img src="/img/midi_in.png" alt="MIDI IN"/>
				</div>
				<div class="col-md-6">
					<img src="/img/midi_out.png" alt="MIDI OUT"/>
				</div>
			</div>
			{% for midi_port_idx, midi_port in enumerate(config['MIDI_PORTS']) %}
			<div class="row">
				<div class="col-md-6">
					<label class="check inline">
						<input type="checkbox" name="MIDI_PORT_{{midi_port_idx}}" value="{{ midi_port['midi_in'] }}" {{ midi_port['checked_in'] }} />
						{{ midi_port['midi_in'] }}
					</label>
				</div>
				<div class="col-md-6">
					<label class="check inline">
						<input type="checkbox" name="MIDI_PORT_{{midi_port_idx}}" value="{{ midi_port['midi_out'] }}" {{ midi_port['checked_out'] }} />
						{{ midi_port['midi_out'] }}
					</label>
				</div>
			</div>
			{% end %}
    </div>
		<div class="modal-footer">
				<button id="midi_ports_add" class="btn btn-success" data-dismiss="modal" type="button"><span aria-hidden="true">SAVE</span></button>
		</div>
  </div>
</div>

<script>

$(document).ready(function() {
	$('#display_midi_ports_panel').click(function(){
    $('#midi_ports_panel').show(500)
	});

	$('#midi_ports_panel .close').click(function(){
		$('#midi_ports_panel').hide(500)
	});

	window.onclick = function(event) {
		if (event.target == document.getElementById('midi_ports_panel')) {
			$('#midi_ports_panel').hide(500);
		}
	}


  document.getElementById('midi_ports_add').onclick = function(event) {
        if (refreshMidiPorts()){
      	   $('#midi_ports_panel').hide(500);
        } else {
          alert('You didn\'t choose a valid configuration');
        }
	}
});

function refreshMidiPorts(){
  midiPortsTextarea = document.getElementById('ZYNTHIAN_MIDI_PORTS') ;
	checkedPorts = $("input[name^=MIDI_PORT_]:checkbox:checked");
	midiPortsTextarea.value = '';
	for (var i = 0; i < checkedPorts.length; i++){
		if (midiPortsTextarea.value != ''){
			midiPortsTextarea.value += ",";
		}
		midiPortsTextarea.value += checkedPorts[i].value;
	}

  return true;
}

</script>
