
<h2>{{ escape(title) }}</h2>

<form id="ui-log-form" enctype="multipart/form-data" method="post">
	<div id="midi-log" class="log-panel"></div>
</form>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all">
		CONNECTING. PLEASE WAIT...
	</div>
</div>

<script type="text/javascript">

function show_logging() {
	var logDiv = $("#midi-log");

	logDiv.html('');
	var socketMessage = {"handler_name": "MidiLogMessageHandler",
		"data": 'SHOW_LOGGING'};
	window.zynthianSocket.send(JSON.stringify(socketMessage));
}

function showProgressAnimation(){
	$("#loading-div-background").show();
}

$(document).ready(function() {
	var deferred = $.Deferred();
	deferred.done(function(value) {
		window.zynthianSocket.registerHandler('MidiLogMessageHandler', function(data) {
			if (data) {
				console.log("MidiLogMessageHandler:onmessage:", data);
				var logDiv = $("#midi-log");

				var dataPayload = "";
				var fgcolor = "";
				if (data['type'] == 'note_on') {
					dataPayload = " " + data['note'] + ", Vel: " + data['velocity'];
					fgcolor = "#008000"
				} else if (data['type'] == 'note_off') {
					dataPayload = " " + data['note'] + ", Vel: " + data['velocity'];
					fgcolor = "#C00000"
				} else if (data['type'] == "pitchwheel") {
					dataPayload = " " + data['pitch'];
					fgcolor = "#C07000"
				} else if (data['type'] == "control_change") {
					dataPayload = " " + data['control'] + " => " + data['value']
					fgcolor = "#0000C0"
				} else if (data['type'] == "program_change") {
					dataPayload = " " + data['program']
					fgcolor = "#800080"
				} else {
					fgcolor = "#404040"
				}

				if (data['time']>0) {
					dataPayLoad += "  [Time: " + data['time'] + "]"
				}

				var shouldScroll = document.body.scrollHeight - window.innerHeight <= window.pageYOffset;

				var row = "<span style=\"color:" + fgcolor + "\">CH#" + ("00" + data['channel']).slice(-2) + " " + data['type'].toUpperCase() +  dataPayload + "</span><br />";
				logDiv.append(row);

				if (shouldScroll) window.scrollTo(0,document.body.scrollHeight);
			}
		});
		var socketMessage = {"handler_name": "MidiLogMessageHandler", "data": 'SHOW_LOGGING'};
		window.zynthianSocket.send(JSON.stringify(socketMessage));
	});
	connectZynthianWebSocket(deferred);
});

</script>
