<div id="midi_ports_panel" class="modal fade">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle"></i></button>
			<h4 class="modal-title">MIDI Devices</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<img src="/img/midi_in.png" alt="MIDI IN"/>
					<h3>MIDI INPUT Ports</h3>
					{% for midi_port_idx, midi_port in enumerate(config['MIDI_PORTS']['IN']) %}
					<div class="row">
						<div class="col-md-10 col-md-offset=1">
							<label class="check inline">
								{{ midi_port['alias'] }}
							</label>
						</div>
					</div>
					{% end %}
					<br>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<img src="/img/midi_out.png" alt="MIDI OUT"/>
					<h3>MIDI OUTPUT Ports</h3>
					{% for midi_port_idx, midi_port in enumerate(config['MIDI_PORTS']['OUT']) %}
					<div class="row">
						<div class="col-md-10 col-md-offset=1">
							<label class="check inline">
								{{ midi_port['alias'] }}
							</label>
						</div>
					</div>
					{% end %}
					<br>
				</div>

			</div>
    </div>
		<div class="modal-footer">
			<button id="midi_ports_add" class="btn btn-success" data-dismiss="modal" type="button"><span aria-hidden="true">OK</span></button>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	$('#display_midi_ports_panel').click(function(){
		$('#midi_ports_panel').modal('show')
	});

	$('#midi_ports_panel .close').click(function(){
		$('#midi_ports_panel').modal('hide')
	});

	window.onclick = function(event) {
		if (event.target == document.getElementById('midi_ports_panel')) {
			$('#midi_ports_panel').modal('hide')
		}
	}

	document.getElementById('midi_ports_add').onclick = function(event) {
		if (refreshMidiPorts()){
			$('#midi_ports_panel').modal('hide')
		} else {
			alert('You didn\'t choose a valid configuration');
		}
	}
});
</script>
