<div id="midi_filter_rule_panel" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add new MIDI filter rule</h4>
		</div>

		<div class="modal-body">
			<select id="RULE_COMMAND" name="RULE_COMMAND" onchange="refreshSelectionView()">
				<option value="">Select a Rule Command ...</option>
				<option value="IGNORE">IGNORE</option>
				<option value="MAP">MAP</option>
			</select>

			<div class="row">
				<div id="rule_from_panel" class="col-md-6">
					<label for="RULE_FROM_CHANNEL">FROM channels:</label>
					<select id="RULE_FROM_CHANNEL" multiple name="RULE_FROM_CHANNEL" onchange="refreshSelectionView()" size="8">
						<option value="">All</option>
					{% for i in range(16) %}
						<option value="{{i}}">{{i+1}}</option>
					{% end %}
					</select>

					<label  for="RULE_FROM_EVENT_TYPE">event type:</label>
					<select id="RULE_FROM_EVENT_TYPE" name="RULE_FROM_EVENT_TYPE" onchange="refreshSelectionView()" size="7">
					{% for et in config['RULE_EVENT_TYPES']['options'] %}
						<option value="{{ escape(et) }}">
							{% if 'option_labels' in config['RULE_EVENT_TYPES'] %}
								{{ escape(config['RULE_EVENT_TYPES']['option_labels'][et]) }}
							{% else %}
								{{ escape(et) }}
							{% end %}
						</option>
					{% end %}
					</select>

					<label id="RULE_FROM_EVENT_NUM_LABEL" for="RULE_FROM_EVENT_NUM">event numbers:</label>
					<input id="RULE_FROM_EVENT_NUM" name="RULE_FROM_EVENT_NUM">

					<label id="RULE_FROM_CC_NUM_LABEL" for="RULE_FROM_CC_NUM">CC numbers:</label>
					<select multiple id="RULE_FROM_CC_NUM" name="RULE_FROM_CC_NUM" onchange="" size="7">
						<option value="">All</option>
						{% for i in range(128) %}
						<option value="{{i}}">
							{% if 'option_labels' in config['RULE_CC_NUMS'] and str(i) in config['RULE_CC_NUMS']['option_labels'] %}
								{{ escape(config['RULE_CC_NUMS']['option_labels'][str(i)]) }}
							{% else %}
								{{ i }}
							{% end %}
						</option>
						{% end %}
					</select>
				</div>

				<div id="rule_to_panel" class="col-md-6">
					<label id="RULE_TO_CHANNEL_LABEL" for="RULE_TO_CHANNEL">TO channels:</label>
					<select id="RULE_TO_CHANNEL" multiple name="RULE_TO_CHANNEL" onchange="refreshSelectionView()" size="8">
						<option value="">All</option>
						{% for i in range(16) %}
						<option value="{{i}}">{{i+1}}</option>
						{% end %}
					</select>

					<label id="RULE_TO_EVENT_TYPE_LABEL" for="RULE_TO_EVENT_TYPE">event type:</label>
					<select id="RULE_TO_EVENT_TYPE" name="RULE_TO_EVENT_TYPE" onchange="refreshSelectionView()" size="7">
						{% for et in config['RULE_EVENT_TYPES']['options'] %}
							<option value="{{ escape(et) }}">
								{% if 'option_labels' in config['RULE_EVENT_TYPES'] %}
									{{ escape(config['RULE_EVENT_TYPES']['option_labels'][et]) }}
								{% else %}
									{{ escape(et) }}
								{% end %}
							</option>
						{% end %}
					</select>

					<label id="RULE_TO_EVENT_NUM_LABEL" for="RULE_TO_EVENT_NUM">event numbers:</label>
					<input id="RULE_TO_EVENT_NUM" name="RULE_TO_EVENT_NUM">
					
					<label id="RULE_TO_CC_NUM_LABEL" for="RULE_TO_CC_NUM">CC numbers:</label>
					<select id="RULE_TO_CC_NUM" name="RULE_TO_CC_NUM" onchange="" size="7">
						<option value="">All</option>
						{% for i in range(128) %}
						<option value="{{i}}">
							{% if 'option_labels' in config['RULE_CC_NUMS'] and str(i) in config['RULE_CC_NUMS']['option_labels'] %}
								{{ escape(config['RULE_CC_NUMS']['option_labels'][str(i)]) }}
							{% else %}
								{{ i }}
							{% end %}
						</option>
						{% end %}
					</select>
				</div>
			</div>

		</div>
		
		<div class="modal-footer">
			<button id="midi-filter-rule-add" class="btn btn-success btn-block" data-dismiss="modal" type="button"><span aria-hidden="true">ADD</span></button>
		</div>

	</div>
</div>

<script>
var enabledNumberInputTypes = ['NON','NOFF','KP','CC','PC'];

$(document).ready(function() {
	$('#display_midi_filter_rule_panel').click(function(){
		refreshSelectionView();
		$('#midi_filter_rule_panel').show(500)
	});

	$('#midi_filter_rule_panel .close').click(function(){
		$('#midi_filter_rule_panel').hide(500)
	});

	window.onclick = function(event) {
		if (event.target == document.getElementById('midi_filter_rule_panel')) {
			$('#midi_filter_rule_panel').hide(500);
		}
	}

	$("button#midi-filter-rule-add").click(function(){
		if (addFilterRule()){
			$('#midi_filter_rule_panel').hide(500);
		} else {
			alert("Bad rule options!");
		}
	});
});

function addFilterRule(){
	var command = $('select#RULE_COMMAND').val();
	if (!command) return false;

	//FROM part ...

	var from_channel_options = $("#RULE_FROM_CHANNEL option:selected").map(function(){ return this.value }).get().join(",");
	var from_channels = '';
	if (from_channel_options) {
		from_channels =  'CH#' + from_channel_options;
	}

	from_event_type = $('select#RULE_FROM_EVENT_TYPE').val();
	if (!from_event_type) return false;

	var from_event_num = '';
	var from_event_num_options = null;
	if (from_event_type=="CC") {
		var from_event_num_options = $("#RULE_FROM_CC_NUM option:selected").map(function(){ return this.value }).get().join(",");
	}
	else {
		var from_event_num_options = $("#RULE_FROM_EVENT_NUM").val();
	}
	if (from_event_num_options) {
		from_event_num =  '#' + from_event_num_options;
	}

	var new_rule = command + ' ' + from_channels + ' ' + from_event_type + from_event_num;

	//TO part
	
	if (command=="MAP") {

		var to_channel_options = $("#RULE_TO_CHANNEL option:selected").map(function(){ return this.value }).get().join(",");
		var to_channels = '';
		if (to_channel_options) {
			to_channels =  'CH#' + to_channel_options;
		}

		var to_event_type = $('select#RULE_TO_EVENT_TYPE').val();
		if (!to_event_type) return false;

		var to_event_num = '';
		var to_event_num_options = null;
		if (to_event_type=="CC") {
			to_event_num_options = $("#RULE_TO_CC_NUM option:selected").map(function(){ return this.value }).get().join(",");
		}
		else {
			to_event_num_options = $("#RULE_TO_EVENT_NUM").val();
		}
		if (to_event_num_options) {
			to_event_num =  '#' + to_event_num_options;
		}

		new_rule +=  ' => ' + to_channels + ' ' + to_event_type + to_event_num
	}

	console.log("NEW RULE: "+new_rule)
	
	var current_rules_text=$('textarea#ZYNTHIAN_MIDI_FILTER_RULES').val();
	if (current_rules_text) current_rules_text += "\n";
	$('textarea#ZYNTHIAN_MIDI_FILTER_RULES').val(current_rules_text+new_rule);

	return true;
}


function refreshSelectionView() {
	var command = $('select#RULE_COMMAND').val();

	var from_event_type = $('select#RULE_FROM_EVENT_TYPE').val();
	if (from_event_type=="CC") {
		$("label#RULE_FROM_EVENT_NUM_LABEL").slideUp(500);
		$("input#RULE_FROM_EVENT_NUM").slideUp(500);
		$("label#RULE_FROM_CC_NUM_LABEL").slideDown(500);
		$("select#RULE_FROM_CC_NUM").slideDown(500);
	} else if (enabledNumberInputTypes.includes(from_event_type)) {
		$("label#RULE_FROM_EVENT_NUM_LABEL").slideDown(500);
		$("input#RULE_FROM_EVENT_NUM").slideDown(500);
		$("label#RULE_FROM_CC_NUM_LABEL").slideUp(500);
		$("select#RULE_FROM_CC_NUM").slideUp(500);
	} else {
		$("label#RULE_FROM_EVENT_NUM_LABEL").slideUp(500);
		$("input#RULE_FROM_EVENT_NUM").slideUp(500);
		$("label#RULE_FROM_CC_NUM_LABEL").slideUp(500);
		$("select#RULE_FROM_CC_NUM").slideUp(500);
	}

	if (command=="MAP") {
		$("div#rule_to_panel").show(500);
		
		var to_event_type = $('select#RULE_TO_EVENT_TYPE').val();
		if (to_event_type=="CC") {
			$("label#RULE_TO_CC_NUM_LABEL").show(500);
			$("select#RULE_TO_CC_NUM").show(500);
			$("label#RULE_TO_EVENT_NUM_LABEL").hide(500);
			$("input#RULE_TO_EVENT_NUM").hide(500);
		} else if (enabledNumberInputTypes.includes(to_event_type)) {
			$("label#RULE_TO_EVENT_NUM_LABEL").show(500);
			$("input#RULE_TO_EVENT_NUM").show(500);
			$("label#RULE_TO_CC_NUM_LABEL").hide(500);
			$("select#RULE_TO_CC_NUM").hide(500);
		} else {
			$("label#RULE_TO_CC_NUM_LABEL").hide(500);
			$("select#RULE_TO_CC_NUM").hide(500);
			$("label#RULE_TO_EVENT_NUM_LABEL").hide(500);
			$("input#RULE_TO_EVENT_NUM").hide(500);
		}
	} else {
		$("div#rule_to_panel").hide(500);
	}
}

</script>
