
<h2>{{ escape(title) }}</h2>

<form id="pianoteq-upload-form" action="/api/upload" enctype="multipart/form-data" method="post">
	{% module Template('upload.html', config=config) %}
</form>

<form id="pianoteq-form" action="/api/sw-pianoteq" enctype="multipart/form-data" method="post">
<div class="container-fluid">
  <div class="row">
		<div class="row">
			<p>
				<a href="https://www.pianoteq.com/"><b>Pianoteq</b></a> is a realistic physical model engine approved by Steinway &amp; Sons. It can simulate a wide range of instruments (Grand Piano, Electric Piano, Clavichord, Harpa, Celesta, Vibraphone, Bells, etc.) with a high degree of precission and realism. It's a pleasure to play it!
			</p>
			<p>You are able to test the restricted trial version (Pianoteq 6 Stage) that have some keys disabled and stops playing after 20 minutes.
			</p>
			<p>
			When you buy a licence, you receive a binary file and a licence key. If you already have a license, you can use it right now. On this page you can install the licenced binary as well as upgrade to newer versions. <b>You must reboot your zynthian after installing a new binary!</b>
		</p>
		<p>
			On this page you can install PTQ modules too (.ptq). <b>You must restart the engine for having access to the new installed instruments and presets.</b>
		</p>
		</div>

		<div class="row">
		  <input id="upload_show" class="btn btn-lg btn-theme" type="button" value="UPLOAD BINARY / PTQ" onclick="$('#pianoteq-upload-form').attr('action','/api/upload?redirectUrl=/api/sw-pianoteq&destinationPath=/tmp&clientId=' + $('#input-uploadfile-session')[0].value);"></input>
		</div>

		<div class="row"><br/></div>

		<div class="row" id='upload-finished'>
			<p>
				<b>The new file is being installed. Please wait...</b>
			</p>
		</div>

		<div class="row" id='installation-success'>
			<p>
				<b>The new file was installed successfully.</b>
			</p>
		</div>

		<div class="row" id='license-activation'>
			<p>
				After installing the licensed binary you have to proceed as follows for activating it with the licence key:
			</p>
			<ul class="content-section" style="margin-left: 1em;">
				<li>Reboot your zynthian</li>
				<li>Open a X-forwarding session from your computer (ssh -Y root@zynthian.local). You need a X server running in your computer.</li>
				<li>Start Pianoteq on your zynthian, selecting any preset. Pianoteq UI should opens in your computer.</li>
				<li>Follow screen instructions.</li>
			</ul>
		</div>

		<div class="row" id='license-key'>
			<p>
				<b>Licence key:</b><br/>
				<input type="text" readonly="readonly" name="ZYNTHIAN_PIANOTEQ_LICENCE" value="{{ config['ZYNTHIAN_PIANOTEQ_LICENCE'] }}" />
			</p>
			<!--
			<p>
				<button name="ZYNTHIAN_PIANOTEQ_ACTION" value="ADD_LICENCE" class="btn btn-lg btn-theme">Add licence</button>
			</p>
		-->
		</div>

	</div>
	<div class="row">
		{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
	</div>

</div>
</form>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all">
		PROCESSING. PLEASE WAIT...
	</div>
</div>

<script type="text/javascript">
var pianoteqForm = $('#pianoteq-form')[0];

$(document).ready(function (){
	$("#loading-div-background").hide();
	$("#installation-success").hide();
	$("#upload-finished").hide();

	if ("{{ config['ZYNTHIAN_PIANOTEQ_LICENCE'] }}") {
		$("#license-activation").hide();
		$("#license-key").show();
	} else {
		$("#license-activation").show();
		$("#license-key").hide();
	}

	$('#input-uploadfile-type')[0].value = '7z,ptq';

	var deferred = $.Deferred();
	deferred.done(function(value) {
		$("#upload_progress_panel").addClass("active");
		var socketMessage = {
			"handler_name": "UploadProgressHandler",
			"data": $('#input-uploadfile-session')[0].value
		};
		window.zynthianSocket.send(JSON.stringify(socketMessage));
	});
	connectZynthianWebSocket(deferred);

	$('#upload_panel')[0].onuploadend = function(response){
		console.log("upload succeeded: " + response);
		$("#upload-finished").show();
		$("#installation-success").hide();

		var ajaxData = new FormData(pianoteqForm);
		ajaxData.append('ZYNTHIAN_PIANOTEQ_ACTION','INSTALL_PIANOTEQ')
		ajaxData.append("ZYNTHIAN_PIANOTEQ_FILENAME", response);

		var ajax = new XMLHttpRequest();
		ajax.open( pianoteqForm.getAttribute( 'method' ), pianoteqForm.getAttribute( 'action' ), true );

		ajax.onload = function() 	{
			if( ajax.status >= 200 && ajax.status < 400 )	{
				if( ajax.status != 200) {
					console.log("upload error: " + data.errror);
				}
			}
			else alert( 'ERROR: Please, report the bug on zynthian forum!' );
		};

		ajax.onloadend = function() {
			$("#upload-finished").hide();
			$("#installation-success").show();
			$("#license-activation").show();
			//window.location.href = window.location.href;
		};

		ajax.onerror = function() {
			console.log("revise uploads failed");
		};

		ajax.send(ajaxData);
	}
});

function showProgressAnimation(){
	$("#loading-div-background").show();
}

</script>
