
<h2>{{ escape(title) }}</h2>

<form id="pianoteq-upload-form" action="/api/upload" enctype="multipart/form-data" method="post">
	{% module Template('upload.html', config=config) %}
</form>

<form id="pianoteq-form" action="/api/sw-pianoteq" enctype="multipart/form-data" method="post">
<div class="container-fluid">
  <div class="row">
		<div class="row">
			<p>
				<a href="https://www.pianoteq.com/"><b>Pianoteq</b></a> is a realistic physical modelling engine developed by Moddart and approved by Steinway &amp; Sons. It can simulate a wide range of instruments, like Grand Pianos, Electric Pianos, Clavichords, Harpas, Celestas, Vibraphones, Bells, etc. with a high degree of precision and realism. It's a pleasure to play it!
			</p>
			<p>Zynthian SD images include the restricted trial version of "Pianoteq 6 Stage", that have some keys disabled and stops playing after 20 minutes.
			</p>
			<p>
			If you buy a "Pianoteq Stage" licence, you should receive a binary file and a licence key. If you already have a "Pianoteq Stage" license, you can use it right now. On this page you can install the licenced binary as well as upgrade to newer versions of the trial or licensed binaries.
		</p>
		<p>
			Currently, this configuration tool supports "Pianoteq Stage" binaries only. If you want to install "Standard" or "Pro" versions, you should do it from the command line. We are working to improve this ASAP.
		</p>
		<p>
			On this page you can install PTQ modules too.
		</p>
		</div>

		<div class="row">
		  <input id="upload_show" class="btn btn-lg btn-theme" type="button" value="Upload Binary / PTQ" onclick="$('#pianoteq-upload-form').attr('action','/api/upload?redirectUrl=/api/sw-pianoteq&destinationPath=/tmp&clientId=' + $('#input-uploadfile-session')[0].value);"></input>
		</div>

		<div class="row"><br/></div>

		<div class="row" id='upload-finished'>
			<p>
				<b>The new file is being installed. Please wait...</b>
			</p>
		</div>

		<div class="row" id='installation-success'>
			<p>
				<b>The new file was installed successfully.</b>
			</p>
		</div>

		<div class="row" id='license-activation'>
			<p>
				If you installed PTQ files, you should restart the Pianoteq engine by removing any Pianoteq layer before having access to the new installed instruments and presets.
			</p>
			<p>
				If you installed a new binary you have to reboot your zynthian for complete the configuration. If you are upgrading from trial to licensed version, you have to proceed as follows for activating the software with the licence key:
			</p>
			<ul class="content-section" style="margin-left: 1em;">
				<li>Reboot your zynthian</li>
				<li>Open a X-forwarding session from your computer (ssh -Y root@zynthian.local). You need a X-server running in your computer.</li>
				<li>Start Pianoteq on your zynthian, selecting any bank &amp; preset. Pianoteq UI should opens in your computer.</li>
				<li>Follow screen instructions.</li>
			</ul>
		</div>

		<div class="row" id='license-key'>
			<p>
				<b>Licence key:</b><br/>
				<input type="text" readonly="readonly" name="ZYNTHIAN_PIANOTEQ_LICENCE" value="{{ config['ZYNTHIAN_PIANOTEQ_LICENCE'] }}" />
			</p>
			<!--
			<p>
				<button name="ZYNTHIAN_PIANOTEQ_ACTION" value="ADD_LICENCE" class="btn btn-lg btn-theme">Add licence</button>
			</p>
		-->

		</div>
	    <div class="row" id="update-cache">
			<p>
				<button name="ZYNTHIAN_PIANOTEQ_ACTION" value="UPDATE_PRESETS_CACHE" class="btn btn-lg btn-theme btn-block">Update Presets</button>
			</p>
		</div>

	</div>
	<div class="row">
		{% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
	</div>

</div>
</form>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all">
		PROCESSING. PLEASE WAIT...
	</div>
</div>

<script type="text/javascript">
var pianoteqForm = $('#pianoteq-form')[0];

$(document).ready(function (){
	$("#loading-div-background").hide();
	$("#installation-success").hide();
	$("#upload-finished").hide();

	if ("{{ config['ZYNTHIAN_PIANOTEQ_LICENCE'] }}") {
		$("#license-activation").hide();
		$("#license-key").show();
	} else {
		$("#license-activation").show();
		$("#license-key").hide();
	}

	$('#input-uploadfile-type')[0].value = '7z,ptq';

	var deferred = $.Deferred();
	deferred.done(function(value) {
		$("#upload_progress_panel").addClass("active");
		var socketMessage = {
			"handler_name": "UploadProgressHandler",
			"data": $('#input-uploadfile-session')[0].value
		};
		window.zynthianSocket.send(JSON.stringify(socketMessage));
	});
	connectZynthianWebSocket(deferred);

	$('#upload_panel')[0].onuploadend = function(response){
		console.log("upload succeeded: " + response);
		$("#upload-finished").show();
		$("#installation-success").hide();

		var ajaxData = new FormData(pianoteqForm);
		ajaxData.append('ZYNTHIAN_PIANOTEQ_ACTION','INSTALL_PIANOTEQ')
		ajaxData.append("ZYNTHIAN_PIANOTEQ_FILENAME", response);

		var ajax = new XMLHttpRequest();
		ajax.open( pianoteqForm.getAttribute( 'method' ), pianoteqForm.getAttribute( 'action' ), true );

		ajax.onload = function() 	{
			if( ajax.status >= 200 && ajax.status < 400 )	{
				if( ajax.status != 200) {
					console.log("upload error: " + ajax.response);
				}
			}
			else {
				alert( ajax.response );
			}
		};

		ajax.onloadend = function() {
			$("#upload-finished").hide();
			if (this.status == 200){
				$("#installation-success").show();
				$("#license-activation").show();
			} 
			//window.location.href = window.location.href;
		};

		ajax.onerror = function() {
			console.log("revise uploads failed");
		};

		ajax.send(ajaxData);
	}
});

function showProgressAnimation(){
	$("#loading-div-background").show();
}

</script>
