
<h2>{{ escape(title) }}</h2>

<form id="pianoteq-upload-form" action="/api/upload" enctype="multipart/form-data" method="post">
{% module Template('upload.html', config=config) %}
</form>

<form id="pianoteq-form" action="/api/sw-pianoteq" enctype="multipart/form-data" method="post">
<div class="container-fluid">
  <div class="row">
		<div class="row">
			<p>
				<a href="https://www.pianoteq.com/">Pianoteq</a> is a realistic physical model engine approved by Steinway &amp; Sons.
				You are able to test the restricted trial version (Pianoteq 6 Stage).
				Some keys are disabled and the application stops after 20 minutes.
			</p>
			<p>
			When you buy a licence, you receive a binary file and a licence key.
		</p>
		<p>
			You can upload the demo version as well as the licenced binary on this page. It will take effect after a reboot of the system.
		</p>
		<p>
			After you have uploaded the licenced binary file (.7z) and rebooted your system you can upload additional modules ending with ptq also.
		</p>
		</div>

		<div class="row">
		  <input id="upload_show" class="btn btn-lg btn-theme" type="button" value="UPLOAD BINARY" onclick="$('#pianoteq-upload-form').attr('action','/api/upload?redirectUrl=/api/sw-pianoteq&destinationPath=/tmp&clientId=' + $('#input-uploadfile-session')[0].value);"></input>
		</div>

		<div class="row" id='upload-finished'>
			<p>
			The new file is being installed.
			</p>
			<p>
			Please wait...
			<p>
		</div>

		<div class="row" id='installation-success'>
			<p>
			The new file was installed successfully.
			</p>
		</div>
		<div class="row">
			<p>
			You have to enter the licence key like the follows.

			</p>
			<ul class="content-section" style="margin-left: 1em;">
				<li>Reboot machine</li>
				<li>Open X11 forwarding session (ssh -X your.zynthian)</li>
				<li>Start Pianoteq on your zynthian</li>
				<li>Pianoteq UI opens in the X11 session</li>
				<li>Follow screen instructions</li>
			</ul>
			<p>
				Licence key:
			</p>
			<p>
				<input type="text" readonly="readonly" name="ZYNTHIAN_PIANOTEQ_LICENCE" value="{{ config['ZYNTHIAN_PIANOTEQ_LICENCE'] }} "/>
			</p>
			<!--
			<p>
				<button name="ZYNTHIAN_PIANOTEQ_ACTION" value="ADD_LICENCE" class="btn btn-lg btn-theme">Add licence</button>
			</p>
		-->
		</div>

  </div>
  <div class="row">
  {% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}
  </div>
</div>

</form>

<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all">
    PROCESSING. PLEASE WAIT...
  </div>
</div>

<script type="text/javascript">
var pianoteqForm = $('#pianoteq-form')[0];

$(document).ready(function (){
    $("#loading-div-background").hide();
		$("#installation-success").hide();
		$("#upload-finished").hide();


		$('#input-uploadfile-type')[0].value = '7z,ptq';

		var deferred = $.Deferred();
		deferred.done(function(value) {
			$("#upload_progress_panel").addClass("active");

			var socketMessage = {"handler_name": "UploadProgressHandler",
				"data": $('#input-uploadfile-session')[0].value};

			window.zynthianSocket.send(JSON.stringify(socketMessage));
		});
		connectZynthianWebSocket(deferred);

		$('#upload_panel')[0].onuploadend = function(response){
			console.log("upload succeeded: " + response);

			$("#upload-finished").show();
			$("#installation-success").hide();

			var ajaxData = new FormData(pianoteqForm);
			ajaxData.append('ZYNTHIAN_PIANOTEQ_ACTION','INSTALL_PIANOTEQ')
			ajaxData.append("ZYNTHIAN_PIANOTEQ_FILENAME", response);

			var ajax = new XMLHttpRequest();
			ajax.open( pianoteqForm.getAttribute( 'method' ), pianoteqForm.getAttribute( 'action' ), true );

			ajax.onload = function() 	{
				if( ajax.status >= 200 && ajax.status < 400 )	{
					if( ajax.status != 200) {
						console.log("upload error: " + data.errror);
					}
				}
				else alert( 'Error. Please, contact the webmaster!' );
			};

			ajax.onloadend = function() {
					$("#installation-success").show();
					$("#upload-finished").hide();
				  //window.location.href = window.location.href;
			};

			ajax.onerror = function() {
				console.log("revise uploads failed");
			};

			ajax.send(ajaxData);
		}
});

function showProgressAnimation(){
    $("#loading-div-background").show();
}





</script>
