
<h2>{{ title }}</h2>

<form id="presets-upload-form" action="/upload" enctype="multipart/form-data" method="post">
	{% module Template('upload.html', config=config) %}
</form>

<form id="presets-form" enctype="multipart/form-data" method="post">
<div class="container-fluid lib-treeview">

	<div class="row">

		<div class="col-md-6">
			<select id="ENGINE" name="ENGINE" onchange="load_preset_tree()">
				{% for key in config['engines'] %}
					<option value="{{key}}" {{ 'selected' if config['engine']==key else '' }}>{{config['engines'][key][1]}}</option>
				{% end %}
			</select>
			<div id="presets-new-bank-panel">
				<div class="input-group">
					<span class="input-group-addon">
						<label>New bank</label>
					</span>
					<input id="NEW_BANK_NAME" name="NEW_BANK_NAME" aria-label="New Bank" class="form-control">
					<span class="input-group-btn">
						<button id="button-new_bank" class="btn btn-theme btn-block" onclick="return do_action('new_bank')" title="Create New Bank"><i class="fa fa-plus"></i></button>
						<div id="loading-action-new_bank" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
					</span>
				</div>
			</div>
			<div id="presets-tree"></div>
			<div id="loading-tree" class="text-center" style="display:none;">
				<br><br>
				<img src="/img/loading.gif">
				<br><br>
			</div>
			<div class="row">
				<div id="error-message-tree" class="alert alert-danger" style="display:none">{{ errors }}</div>
			</div>
		</div>

		<div id="presets-panel" class="col-md-6">
			<input type="hidden" id="SEL_NODE_ID" name="SEL_NODE_ID" value="{{ escape(str(config['sel_node_id'])) }}">
			<input type="hidden" id="SEL_FULLPATH" name="SEL_FULLPATH">
			<input type="hidden" id="SEL_BANK_FULLPATH" name="SEL_BANK_FULLPATH">
			<input type="hidden" id="INSTALL_URL" name="INSTALL_URL">
			<input type="hidden" id="INSTALL_FPATH" name="INSTALL_FPATH">

			<div class="row">
				<div id="error-message-action" class="alert alert-danger" style="display:none"></div>
			</div>

			<div id="presets-bank-panel">
				<label for="SEL_BANK_NAME">Bank:</label>
				<div class="row no-gutters">
					<div class="col-xs-10">
						<input type="text" id="SEL_BANK_NAME" name="SEL_BANK_NAME">
					</div>
					<div class="col-xs-1 text-right">
						<button id="button-rename_bank" class="btn btn-theme btn-block" onclick="return do_action('rename_bank')" title="Rename Bank"><i class="fa fa-check"></i></button>
						<div id="loading-action-rename_bank" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
					</div>
					<div class="col-xs-1 text-right">
						<button id="button-remove_bank" onclick="if (confirm('Are you sure to remove this bank and all its presets?')) return do_action('remove_bank'); else return false" class="btn btn-danger btn-block" title="Delete Bank"><i class="fa fa-trash-o"></i></button>
						<div id="loading-action-remove_bank" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
					</div>
				</div>
			</div>

			<div id="presets-file-panel">
				<label for="SEL_PRESET_NAME">Preset:</label>
				<div class="row no-gutters">
					<div class="col-xs-10">
						<input type="text" id="SEL_PRESET_NAME" name="SEL_PRESET_NAME">
					</div>
					<div class="col-xs-1 text-right">
						<button id="button-rename_preset" class="btn btn-theme btn-block" onclick="return do_action('rename_preset')" title="Rename Preset"><i class="fa fa-check"></i></button>
						<div id="loading-action-rename_preset" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
					</div>
					<div class="col-xs-1 text-right">
						<button id="button-remove_preset" onclick="if (confirm('Are you sure to remove this preset?')) return do_action('remove_preset'); else return false" class="btn btn-danger btn-block" title="Delete Preset"><i class="fa fa-trash-o"></i></button>
						<div id="loading-action-remove_preset" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
					</div>
				</div>
			</div>

			<div id="download-panel">
				<div class="row"><div class="col-md-12 col-sm-12 text-center">
					<button id="button-download" class="btn btn-theme btn-block" onclick="do_download()" title="Download Preset/Bundle"><i class="fa fa-download"></i> Download
					</button>
				</div></div>
			</div>

			<div id="upload-panel">
				<div class="row"><div class="col-md-12 col-sm-12 text-center">
					<button id="button-upload" class="btn btn-theme btn-block" title="Upload Preset/Bundle" onclick="return false"><i class="fa fa-upload"></i> Upload</button>
					<div id="loading-action-upload" style="display:none;"><img src="/img/loading.gif" class="center-block"></div>
				</div></div>
			</div>

			<div id="presets-search-panel">
				<label for="MUSICAL_ARTIFACT_TAGS">Search Musical Artifacts:</label>
				<div class="row no-gutters">
					<div class="col-xs-11">
						<input type="text" id="MUSICAL_ARTIFACT_TAGS" name="MUSICAL_ARTIFACT_TAGS" value="{{ escape(config['musical_artifact_tags']) }}" />
					</div>
					<div class="col-xs-1 text-center">
						<button id="button-search" class="btn btn-theme btn-block" onclick="return do_action('search')" title="Search"><i class="fa fa-search"></i></button>
						<span id="loading-action-search" style="display:none;"><img src="/img/loading.gif"></span>
					</div>
				</div>
				<div class="row" id="presets-search-result" style="display:none"></div>
			</div>

		</div>
	</div>

</div>
</form>

<div id="loading-action-install" style="display:none;"><img src="/img/loading.gif"></div>

<script type="text/javascript">
var presetsForm = $('#presets-form')[0];

$(document).ready(function () {
	load_preset_tree()
	
	$('#MUSICAL_ARTIFACT_TAGS').keypress(function(e) {
		// Enter pressed?
		if(e.which == 13) {
			e.preventDefault();
			$('#button-search').click();
		}
	});

	$('#button-upload').click(function(){
		$('#upload_panel').show(500)
		$('#upload_progress_panel').hide(500);
	});

	var deferred = $.Deferred();
	deferred.done(function(value) {
		$("#upload_progress_panel").addClass("active");
		var socketMessage = {
			"handler_name": "UploadProgressHandler",
			"data": $('#input-uploadfile-session')[0].value
		};
		window.zynthianSocket.send(JSON.stringify(socketMessage));
		$("#presets-upload-form").attr("action", "/upload?destinationPath=/tmp&clientId=" + $('#input-uploadfile-session')[0].value);
		//redirectUrl=/lib-presets&
	});
	connectZynthianWebSocket(deferred);

	$('#upload_panel')[0].onuploadend = function(response){
		console.log("Upload succeeded: " + response)
		$("#INSTALL_FPATH").val(response)
		do_action("upload")
	}

});


var engine_methods=[]
var engine_formats=""

function load_preset_tree() {
	$('#presets-new-bank-panel').hide();
	$('#presets-bank-panel').hide();
	$('#presets-file-panel').hide();
	$('#download-panel').hide();
	$('#upload-panel').hide();
	$('#presets-search-panel').hide();

	$('#presets-tree').hide()
	$("#loading-tree").show()
	$("#error-message-tree").hide()
	$("#error-message-action").hide()
	
	cleanSearchResults()

	$.post("lib-presets/get_tree", 
		$('#presets-form').serialize(),
		function(data, status) {
			$("#loading-tree").hide()
			if (status=="success") {
				if ("errors" in data) {
					$("#error-message-tree").html(data["errors"])
					$("#error-message-tree").show(600)
				}
				if ("methods" in data) {
					engine_methods = data['methods']
				}
				if ("formats" in data) {
					engine_formats = data['formats']
					$('#input-uploadfile-type')[0].value = engine_formats;
					$('#button-upload').html("<i class=\"fa fa-upload\"></i> Upload (" + engine_formats + ")")
				}
				if ("presets" in data) {
					renderPresetsTree(data['presets'])
				}
			} else {
				$("#error-message-tree").html("Can't do " + action + ": " + status)
				$("#error-message-tree").show(600)
			}
		}
	)
	return false
}

function do_action(action=null, xid=null) {
	var postfix = action
	if (xid) postfix += "-" + xid

	$("#button-" + postfix).hide()
	$("#loading-action-" + postfix).show()
	$("#error-message-tree").hide()
	$("#error-message-action").hide()
	
	if (action=="search") $("#presets-search-result").hide()

	$.post("lib-presets/" + action, 
		$('#presets-form').serialize(),
		function(data, status) {
			$("#button-" + postfix).show()
			$("#loading-action-" + postfix).hide()
			if (status=="success") {
				if ("errors" in data) {
					$("#error-message-action").html(data["errors"])
					$("#error-message-action").show(600)
				}
				if ("methods" in data) {
					engine_methods = data['methods']
				}
				if ("formats" in data) {
					engine_formats = data['formats']
					$('#input-uploadfile-type')[0].value = engine_formats;
					$('#button-upload').html("<i class=\"fa fa-upload\"></i> Upload (" + engine_formats + ")")
				}
				if ("presets" in data) {
					renderPresetsTree(data['presets'])
				}
				if ("search_results" in data) {
					renderSearchResults(data['search_results'])
				}
			} else {
				$("#error-message-action").html("Can't do " + action + ": " + status)
				$("#error-message-action").show(600)
			}
		}
	)
	return false
}

function do_download() {
	$("#presets-form").get(0).action="/lib-presets/download"
}

function renderPresetsTree(data) {
	$('#presets-tree').show()
	$('#presets-tree').treeview({
		data: data,
		bootstrap2: true,
		levels: 2,
		emptyIcon: "glyphicon glyphicon-floppy-disk",
		expandIcon: "glyphicon glyphicon-folder-close",
		collapseIcon: "glyphicon glyphicon-folder-open",
		onNodeSelected: function(event, data) {
			$('#presets-bank-panel').hide();
			$('#presets-file-panel').hide();
			$('#download-panel').hide();
			$('#SEL_BANK_NAME').val('');
			$('#SEL_PRESET_NAME').val('');
			$('#SEL_NODE_ID').val(data.id);
			$("#SEL_FULLPATH").val(data.fullpath);

			if (data.node_type == 'BANK') {
				$("#SEL_BANK_FULLPATH").val(data.fullpath);
				$('#SEL_BANK_NAME').val(data.name);
				if (engine_methods.includes("zynapi_rename_bank") && !data.readonly) {
					$('#presets-bank-panel').show();
					$('#download-panel').show();
				}
			} else if (data.node_type == 'PRESET') {
				$("#SEL_BANK_FULLPATH").val(data.bank_fullpath);
				$('#SEL_PRESET_NAME').val(data.name);
				if (engine_methods.includes("zynapi_rename_preset") && !data.readonly) {
					$('#presets-file-panel').show();
					$('#download-panel').show();
				}
			}
		}
	});

	if (engine_methods.includes("zynapi_new_bank")) $('#presets-new-bank-panel').show();
	else $('#presets-new-bank-panel').hide();

	if (engine_methods.includes("zynapi_install")) $('#upload-panel').show();
	else $('#upload-panel').hide();

	if (engine_methods.includes("zynapi_martifact_formats")) $('#presets-search-panel').show();
	else $('#presets-search-panel').hide();

	var node_id = parseInt($("#SEL_NODE_ID").val())
	$('#presets-tree').treeview('collapseAll', { silent: true });
	$('#presets-tree').treeview('revealNode', [ node_id, { silent: true } ]);
	$('#presets-tree').treeview('selectNode', node_id);
}

function renderSearchResults(data) {
	html = "<div class='col-md-12 col-sm-12'>\n"
	for (i in data) {
		html += "<div class='row'>"
		html += "<div class='col-md-10 col-sm-10 font-weight-bold'><b>" + data[i].name + "</b></div>"
		html += "<div class='action-buttons col-md-2 col-sm-2 text-right'>"
		html += "<span class='glyphicon glyphicon-info-sign' onclick=\"$('#martifact-desc-" + data[i].id + "').toggle(200);\"></span>&nbsp;"
		if (data[i].file && data[i].file_hash && engine_methods.includes("zynapi_install")) {
			html += "<span id='button-install-" + data[i].id + "' class='glyphicon glyphicon-plus-sign' onclick=\"installMArtifact('" + data[i].name.replace(/'/g, "\\x27") + "','" + data[i].file + "','" + data[i].id + "')\"></span>"
			html += "<span id='loading-action-install-" + data[i].id + "' style='display:none;'><img src='/img/loading.gif'></span>"
		} else if (data[i].mirrors.length>0) {
			html += "<a href=\"" + data[i].mirrors[0] + "\" target='_blank'><span id='button-install-" + data[i].id + "' class='glyphicon glyphicon-circle-arrow-right'></span></a>"
		}
		html += "</div>"
		html += "<div class='col-sm-12' id='martifact-desc-" + data[i].id + "' style='display:none'>"
		html += data[i].description + "(by <em>" + data[i].author + "</em>)"
		if (data[i].file && data[i].file_hash) {
			html += "<br><a href=\"" + data[i].file + "\">" + data[i].file + "</a><br>\n"
		}
		html += "</div>\n"
		html += "</div>"
	}
	html += "</div>"

	$("#presets-search-result").html(html)
	$("#presets-search-result").show()
}

function cleanSearchResults() {
	$("#presets-search-result").html("")
}

function installMArtifact(name, url, xid) {
	var bankforced_engines = ["LS"]
	if (bankforced_engines.includes($("#ENGINE").val()) && $("#SEL_BANK_FULLPATH").val()=="") {
		alert("You have to select a destiny bank!")
		return false
	}
	if (confirm("Do you really want to install '" + name + "'?")) {
		$('#INSTALL_URL').val(url);
		return do_action("install", xid)
	}
	return false
}

</script>
