
<h2>{{ escape(title) }}</h2>

<form id="soundfont-upload-form" action="/api/upload" enctype="multipart/form-data" method="post">
{% module Template('upload.html', config=config) %}
</form>

<form id="soundfont-form" enctype="multipart/form-data" method="post">
<div class="container-fluid lib-treeview">
  <div class="row">
    <div class="col-md-5">
        <div id="sountfont-tree"></div>
    </div>
    <div id="soundfont-panel" class="col-md-7">
        <input type="hidden" id="ZYNTHIAN_SOUNDFONT_FULLPATH" name="ZYNTHIAN_SOUNDFONT_FULLPATH" />
        <input type="hidden" id="ZYNTHIAN_SOUNDFONT_SOUNDFONT_TYPE" name="ZYNTHIAN_SOUNDFONT_SOUNDFONT_TYPE" />
        <input type="hidden" id="ZYNTHIAN_SOUNDFONT_DOWNLOAD_FILE" name="ZYNTHIAN_SOUNDFONT_DOWNLOAD_FILE" />


        <div id="soundfont-new-bank-panel">
          <div class="row">
            <label>Bank:</label>
          </div>
          <div class="row">
            <input type="text" id="ZYNTHIAN_SOUNDFONT_NEW_BANK_NAME" name="ZYNTHIAN_SOUNDFONT_NEW_BANK_NAME" />
          </div>
          <div class="row">
            <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="NEW" class="btn btn-lg btn-theme">New bank</button>
          </div>
        </div>

        <div id="soundfont-bank-panel">

          <div id="soundfont-bank-rename-panel">
            <div class="row">
              <label for="ZYNTHIAN_SOUNDFONT_BANK_NAME">Bank:</label>
              <input type="text" id="ZYNTHIAN_SOUNDFONT_BANK_NAME" name="ZYNTHIAN_SOUNDFONT_BANK_NAME" />
            </div>

            <div class="row">
              <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="RENAME" class="btn btn-lg btn-theme">RENAME</button>
            </div>
          </div>

          <div class="row">
            <input id="upload_show" class="btn btn-lg btn-theme" type="button" value="UPLOAD"></input>
          </div>

          <div id="soundfont-search-panel">
            <div class="row">
              <label for="ZYNTHIAN_SOUNDFONT_MUSICAL_ARTIFACT_TAGS">Search Musical Artifacts</label>
              <input type="text" id="ZYNTHIAN_SOUNDFONT_MUSICAL_ARTIFACT_TAGS" name="ZYNTHIAN_SOUNDFONT_MUSICAL_ARTIFACT_TAGS" value="{{ escape(config['ZYNTHIAN_SOUNDFONT_MUSICAL_ARTIFACT_TAGS']) }}" />
            </div>

            <div class="row">
              <button id="ZYNTHIAN_SOUNDFONT_ACTION_SEARCH" name="ZYNTHIAN_SOUNDFONT_ACTION" value="SEARCH" class="btn btn-lg btn-theme" onclick="showProgressAnimation()" >SEARCH</button>
            </div>

            <div class="row">
              <table class="table table-striped table-bordered table-condensed">
            {% if config['ZYNTHIAN_SOUNDFONT_SEARCH_RESULT'] %}
            {% for row in config['ZYNTHIAN_SOUNDFONT_SEARCH_RESULT'] %}
                <tr>
                  <td title="{{ escape(row['description']) }}">
                    {% if len(row['more_info'])>0 %}
                      <a href="{{ row['more_info'][0] }}" target="_blank" >
                        {{ row['name'] }}
                      </a>
                    {% else %}
                      {{ row['name'] }}
                    {% end %}
                </td>
                  <td>
                    <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="DOWNLOAD" class="btn btn-lg btn-theme" onclick="showProgressAnimation();setDownloadFile('{{ escape(row['file']) }}')">+</button>
                  </td>
                </tr>
            {% end %}
            {% end %}
              </table>
            </div>
          </div>

          <div class="row" id="soundfont-bank-remove-panel">
            <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="REMOVE" onclick="return confirm('Are you sure?');" class="btn btn-danger">DELETE</button>
          </div>

        </div>

        <div id="soundfont-file-panel">

          <div id="soundfont-rename-panel">
            <div class="row">
              <label for="ZYNTHIAN_SOUNDFONT_NAME">Soundfont:</label>
              <input type="text" id="ZYNTHIAN_SOUNDFONT_NAME" name="ZYNTHIAN_SOUNDFONT_NAME" />
            </div>

            <div class="row">
              <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="RENAME" class="btn btn-lg btn-theme">RENAME</button>
            </div>
          </div>

          <div class="row">
            <button name="ZYNTHIAN_SOUNDFONT_ACTION" value="REMOVE" onclick="return confirm('Are you sure?');" class="btn btn-danger">DELETE</button>
          </div>

        </div>
      </div>
  </div>
  <div class="row">
  {% if errors %}<div class="alert alert-danger">{{ escape(errors) }}</div>{% end %}

  </div>
</div>

</form>

<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all">
    PROCESSING. PLEASE WAIT...
  </div>
</div>

<script type="text/javascript">


$(document).ready(function (){
    $("#loading-div-background").hide();

    $('#ZYNTHIAN_SOUNDFONT_MUSICAL_ARTIFACT_TAGS').keypress(function(e) {
        // Enter pressed?
        if(e.which == 13) {
            e.preventDefault();
            $('#ZYNTHIAN_SOUNDFONT_ACTION_SEARCH').click();
        }
    });
});

function showProgressAnimation(){
    $("#loading-div-background").show();
}

$('#soundfont-panel').hide();
$('#sountfont-tree').treeview({data: JSON.parse('{% raw config['ZYNTHIAN_SOUNDFONTS'] %}'), bootstrap2: true ,
  levels: 3,
  emptyIcon: "glyphicon glyphicon-floppy-disk",
  expandIcon: "glyphicon glyphicon-folder-close",
  collapseIcon: "glyphicon glyphicon-folder-open",
  onNodeSelected: function(event, data) {
      $("#loading-div-background").css({ opacity: 1.0 });
      $('#soundfont-new-bank-panel').hide();
      $('#soundfont-bank-panel').hide();
      $('#soundfont-file-panel').hide();
      $('#soundfont-bank-remove-panel').hide();
      $('#soundfont-bank-rename-panel').hide();
      $('#ZYNTHIAN_SOUNDFONT_NAME')[0].value='';
      $('#ZYNTHIAN_SOUNDFONT_BANK_NAME')[0].value='';

      $("#ZYNTHIAN_SOUNDFONT_FULLPATH")[0].value = data.fullpath;
      $("#soundfont-upload-form").attr("action", "/api/upload?redirectUrl=/api/lib-soundfont&destinationPath=" + data.fullpath)
      $("#ZYNTHIAN_SOUNDFONT_SOUNDFONT_TYPE")[0].value = data.soundfontType;

      if (data.nodeType == 'SOUNDFONT_TYPE'){
          $('#soundfont-new-bank-panel').show();

      } else if (data.nodeType == 'BANK'){
          $('#soundfont-bank-panel').show();
          $('#ZYNTHIAN_SOUNDFONT_BANK_NAME')[0].value=data.text;
          $('#input-uploadfile-type')[0].value = data.soundfontType;
          if (data.text != 'sf2'){
            $('#soundfont-bank-remove-panel').show();
            $('#soundfont-bank-rename-panel').show();
          }
      } else if (data.nodeType == 'SOUNDFONT'){
        $('#ZYNTHIAN_SOUNDFONT_NAME')[0].value=data.text;
        $('#soundfont-file-panel').show();
      }
      $('#soundfont-panel').show();
    }
  });

  $('#sountfont-tree').treeview('selectNode',{% raw config['ZYNTHIAN_SOUNDFONT_SELECTION_NODE_ID'] %});




function setDownloadFile(filename){
  $('#ZYNTHIAN_SOUNDFONT_DOWNLOAD_FILE')[0].value=filename;
}
</script>
