<h2>{{ title }}</h2>

<p><a href="https://www.tone3000.com/"><b>Tone 3000</b></a> (T3K) is the world's largest community-driven platform for sharing and discovering digital models of amps, pedals, outboard gear, full rigs, signal chains, and more.
T3K is built on the open-source project Neural Amp Modeler (NAM) by Steve Atkinson. A huge thanks to Steve, Pablo, Dom, Ross, Scott, Jon, and the entire NAM community,

<form id="t3k-form" action="/lib-t3k-config" enctype="multipart/form-data" method="post">
	{% if config['ZYNTHIAN_T3K_URL'] %}
	<div class="col-2-10 col-md-2 col-xs-2">
		<br/>
		<button name="ZYNTHIAN_T3K_ACTION" value="GO_TO_T3K" class="btn btn-theme">Browse Tone 3000 library</button>
	</div>
	{% end %}
	<P>
	<div class="col-lg-10 col-md-10 col-xs-10">
		<br/>
		<b>Tone 3000 API key:</b><br/>
		<input type="text" name="ZYNTHIAN_T3K_API_KEY" value="{{ config['ZYNTHIAN_T3K_API_KEY'] }}"/>
	</div>
	<div class="col-2-10 col-md-2 col-xs-2">
		<button name="ZYNTHIAN_T3K_ACTION" value="STORE_T3K_API_KEY" class="btn btn-theme">Save API key</button>
	</div>
	<div>
		{% if errors %}<div class="alert alert-danger">{% raw str(errors).replace("\n", "<br>") %}</div>{% end %}
	</div>

</form>
