<form id="ui-keybind-form" action="/ui-keybind" enctype="multipart/form-data" method="post">
<div class="pull-right">
    <input id="enable_keybinding" type="checkbox" name="enable_keybinding" onChange="showEnabled()" {% if config['UI_KEYBINDING_ENABLED'] %} checked {% end %}/><span>Enable Keybinding</span>
</div>

<h2>{{ title }}</h2>
    <div id='keybind_table' {% if not config['UI_KEYBINDING_ENABLED'] %} style="display:none;" {% end %}>
    <table>
      <thead>
        <tr>
          <th>CUIA Action</th>
          <th>Shift</th>
          <th>Ctrl</th>
          <th>Alt</th>
          <th>CapsLock</th>
          <th>Keyboard shortcut</th>
        </tr>
      </thead>
      <tbody>
    {% for cuia in sorted(config['UI_KEYBINDINGS']) %}
      <tr>
        <td>{{escape(cuia)}}</td>
        <td><input type="checkbox" name="{{cuia}}:shift" {% if config['UI_KEYBINDINGS'][cuia]['modifier'] & 1 %} checked {% end %}></td>
        <td><input type="checkbox" name="{{cuia}}:ctrl" {% if config['UI_KEYBINDINGS'][cuia]['modifier'] & 4 %} checked {% end %}></td>
        <td><input type="checkbox" name="{{cuia}}:alt" {% if config['UI_KEYBINDINGS'][cuia]['modifier'] & 8 %} checked {% end %}></td>
        <td><input type="checkbox" name="{{cuia}}:caps" {% if config['UI_KEYBINDINGS'][cuia]['modifier'] & 2 %} checked {% end %}></td>
        <td><input name="{{cuia}}:keysym" type="text" value="{{escape(config['UI_KEYBINDINGS'][cuia]['keysym'])}}"></td>
      </tr>
    {% end %}
      </tbody>
    </table>
    </div>

    <div class="container-fluid">
        <div class="row"><br/></div>
        <div class="row">
            <button name="ZYNTHIAN_KEYBIND_ACTION" value="SAVE_KEYBIND" class="btn btn-lg btn-theme btn-block advanced-view">Save</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><br/></div>
        <div class="row">
            <button name="ZYNTHIAN_KEYBIND_ACTION" value="RESET_KEYBIND" class="btn btn-lg btn-theme btn-block advanced-view">Reset To Default</button>
        </div>
    </div>
</form>

<script type="text/javascript">
function showEnabled() {
  var checkBox = document.getElementById("enable_keybinding");
  var table = document.getElementById("keybind_table");

  if (checkBox.checked == true){
    table.style.display = "block";
  } else {
    table.style.display = "none";
  }
}
</script>


