
<div id="upload_panel" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle"></i></button>
				<h4 class="modal-title">Upload</h4>
			</div>

			<div class="modal-body">
				<input type="hidden" id="input-uploadfile-type" />
				<input type="hidden" id="input-uploadfile-session" />
				<div id="drop-zone">
					<span class="box__dragndrop">Drop files here or</span>
					<div id="click-here"> Click and choose
						<input type="file" id="input-uploadfile" name="uploadfile" {% if config['ZYNTHIAN_UPLOAD_MULTIPLE'] == True %}multiple{% end %} />
					</div>
				</div>
				<div id="selected_files"></div>
				<div id="upload_progress_panel" class="progress"> <div id="upload_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div> </div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-lg btn-theme">UPLOAD!</button>
			</div>

		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	var isAdvancedUpload = function() {
		var div = document.createElement('div');
		return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
	}();

	var random = Math.random().toString();
	$('#input-uploadfile-session')[0].value = random;

	$('#upload_show').click(function(){
		$('#upload_panel').show(500)
		$('#upload_progress_panel').hide(500);
	});

	$('#upload_panel .close').click(function(){
		$('#upload_panel').hide(500)
	});

	window.onclick = function(event) {
		if (event.target == document.getElementById('upload_panel')) {
			$('#upload_panel').hide(500)
		}
	}

	var dropZoneId = "drop-zone";
	var buttonId = "click-here";
	var mouseOverClass = "mouse-over";

	var dropZone = $("#" + dropZoneId);
	var ooleft = dropZone.offset().left;
	var ooright = dropZone.outerWidth() + ooleft;
	var ootop = dropZone.offset().top;
	var oobottom = dropZone.outerHeight() + ootop;
	var inputFile = dropZone.find("input");

	displayFilenames = function(files){
		filenames = '';
		for (var i = 0, f; f = files[i]; i++) {
			filenames += '' + f.name + '<br/>';
		}
		$('#selected_files').html(filenames);
	}

	$("#input-uploadfile").on('change', function(event) {
		var filename = $(this).val();
		var filetypes = $('#input-uploadfile-type')[0].value;
		var filetypeArray = filetypes.split(',');

		var regex = new RegExp( '.('+filetypeArray.join('|')+')$', 'gi' );
		validSuffix = true;

		for (var i = 0, f; f = event.target.files[i]; i++) {
			if ( ! f.name.match(regex)) {
				validSuffix = false;
			}
		}
		if (!validSuffix){
			alert('Only select ' + filetypes + ' files');
			this.form.reset();
			$('#input-uploadfile-type')[0].value = filetypes;
			return;
		}

		displayFilenames(event.target.files);
	});


	var droppedFiles = false;

	var uploadForm = inputFile[0].form;
	dropZone.removeClass('websocket_opened');

	triggerFormSubmit = function() {
		dropZone.addClass('is-uploading');
		if (isAdvancedUpload) {
			uploadFiles();
		} else {
			uploadForm.submit();
		}
	};


	if (isAdvancedUpload) {
		dropZone.addClass('has-advanced-upload');

		var droppedFiles = false;

		dropZone.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
			e.preventDefault();
			e.stopPropagation();
		})
		.on('dragover dragenter', function() {
			dropZone.addClass('is-dragover');
		})
		.on('dragleave dragend drop', function() {
			dropZone.removeClass('is-dragover');
		})
		.on('drop', function(e) {
			if ({{ 'true' if config['ZYNTHIAN_UPLOAD_MULTIPLE'] else 'false' }} == true){
				droppedFiles = e.originalEvent.dataTransfer.files;
			} else {
				droppedFiles = [];
				droppedFiles[0] = e.originalEvent.dataTransfer.files[0];
			}
			displayFilenames(droppedFiles);
		});
	}

	uploadFiles = function(){
		var ajaxData = new FormData(uploadForm);
		if (droppedFiles) {
			Array.prototype.forEach.call( droppedFiles, function( file ) {
				ajaxData.append( inputFile.attr( 'name' ), file );
			});
		}
		/*
		if (inputFile[0].files){
			Array.prototype.forEach.call( inputFile[0].files, function( file ) {
				ajaxData.append( inputFile.attr( 'name' ), file );
			});
		}
		*/
		var ajax = new XMLHttpRequest();

		ajax.open( uploadForm.getAttribute( 'method' ), uploadForm.getAttribute( 'action' ), true );

		ajax.onload = function() 	{
			dropZone.removeClass( 'is-uploading' );
			if( ajax.status >= 200 && ajax.status < 400 )	{
				dropZone.addClass( ajax.status == 200 ? 'is-success' : 'is-error' );
				if( ajax.status != 200) {
					console.log("upload error: " + data.error);
				}
			}
			else alert( 'Error. Please, contact the webmaster!' );
		};

		ajax.onloadend = function() {
			if ($('#upload_panel')[0].onuploadend){
				$('#upload_panel')[0].onuploadend(ajax.response);
			}
			$('#upload_panel').hide(500);
		};

		ajax.onerror = function() {
			dropZone.removeClass( 'is-uploading' );
		};

		ajax.send( ajaxData );
	}

	uploadForm.addEventListener ( 'submit', function (evt) {
		if (dropZone.hasClass('is-uploading')) {
			if (isAdvancedUpload) {
				evt.preventDefault();
				return false;
			} else {
				return true;
			}
		}

		dropZone.removeClass('is-error');
		evt.preventDefault();

		window.zynthianSocket.registerHandler('UploadProgressHandler', function(data) {
			if (data){
				console.log("socket:onmessage:",data);
				$("#upload_progress").css('width',data+'%');
				$("#upload_progress").html(data+'%');
				if(data > 99.999) {
					$("#upload_progress_panel").removeClass("active");
					$("#upload_progress").html("Done");
				}
			}
		});

		triggerFormSubmit();
		$('#upload_progress_panel').show(500);
	});

});

</script>
