
<div id="upload_panel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Upload</h4>
    </div>
    <div class="modal-body">
			<input type="hidden" id="input-uploadfile-type"   />
			<input type="hidden" id="input-uploadfile-session" />
			<div id="drop-zone">
				Drop files here...(Chrome only)
				<div id="click-here">
			        or click here..
      		<input type="file" id="input-uploadfile" name="uploadfile" multiple/>
				</div>

			</div>
			<div id="selected_files">

			</div>
			<div id="upload_progress_panel" class="progress"> <div id="upload_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div> </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-lg btn-theme">SAVE</button>
    </div>
  </div>
</div>

<script>


$(document).ready(function() {

		var random = Math.random().toString();
		$('#input-uploadfile-session')[0].value = random;

		$('#upload_show').click(function(){
			$('#upload_panel').show(500)
			$('#upload_progress_panel').hide(500);
		});

		$('#upload_panel .close').click(function(){
			$('#upload_panel').hide(500)
		});

		window.onclick = function(event) {
			if (event.target == document.getElementById('upload_panel')) {
				$('#upload_panel').hide(500);
			}
		}


    $("#input-uploadfile").on('change', function(event) {
        var filename = $(this).val();
        var filetype = $('#input-uploadfile-type')[0].value;
        var regex = new RegExp( '.'+filetype+'$', 'gi' );
				validSuffix = true;

				for (var i = 0, f; f = event.target.files[i]; i++) {
        	if ( ! f.name.match(regex)) {
						validSuffix = false;
					}
				}
				if (!validSuffix){
          alert('Only select ' + filetype + ' files');
          this.form.reset();
					$('#input-uploadfile-type')[0].value = filetype;
          return;
        }
				filenames = '';
				for (var i = 0, f; f = event.target.files[i]; i++) {
					filenames += '' + f.name + '<br/>';
				}
				$('#selected_files').html(filenames);
    });

		var dropZoneId = "drop-zone";
		var buttonId = "click-here";
		var mouseOverClass = "mouse-over";

		var dropZone = $("#" + dropZoneId);
		var ooleft = dropZone.offset().left;
		var ooright = dropZone.outerWidth() + ooleft;
		var ootop = dropZone.offset().top;
		var oobottom = dropZone.outerHeight() + ootop;
		var inputFile = dropZone.find("input");
		document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
				e.dataTransfer.dropEffect = 'copy';
				dropZone.addClass(mouseOverClass);
				e.preventDefault();
				e.stopPropagation();
		}, true);

		document.getElementById(dropZoneId).addEventListener("drop", function (e) {
			 	dropZone.removeClass(mouseOverClass);
				if (e.dataTransfer){
					inputFile[0].files = e.dataTransfer.files;
				}
				e.preventDefault();
				e.stopPropagation();
		}, true);



		inputFile[0].form.addEventListener (
		 "submit",
		 function (evt, do_submit) {
			 if (do_submit){

				 return;
			 }
			 evt.preventDefault();

			var deferred = $.Deferred();
			deferred.done(function(value) {
				inputFile[0].form.submit(true);
			});
			$('#upload_progress_panel').show(500);
			connectWebsocket(deferred);

		});

		function connectWebsocket(connectedDeferred){
			socket = new ws("ws://localhost/api/upload-polling");
			socket.onconnecting = function(evn){
				console.log("socket:onconnecting:",evn);
    		// sendMsg("wcj");
			}
			socket.onopen = function(evn){
    		console.log("socket:onopen:",evn);
    		socket.send($('#input-uploadfile-session')[0].value);
				$("#upload_progress_panel").addClass("active");
				connectedDeferred.resolve();
			}
			socket.onclose = function(evn){
    		console.log("socket.onclose:",evn);
    	}

			socket.onmessage = function(evt){
				if (evt.data){
	    		console.log("socket:onmessage:",evt.data);

					$("#upload_progress").css('width',evt.data+'%');
					$("#upload_progress").html(evt.data+'%');
					if(evt.data > 99.999) {
						$("#upload_progress_panel").removeClass("active");
						$("#upload_progress").html("Done");
						socket.close()
					}
				}
			}

			/*
			progresspolling = setInterval(function(){
		    $.get("/api/upload-polling", function(data){
		      $("#upload_progress").css('width',data+'%');
		      $("#upload_progress").html(data+'%');

		      if(data > 99.999) {
		        clearInterval(progresspolling);
		        $("#progressouter").removeClass("active");
		        $("#progress").html("Done");
		      }
		    })
		  }, 50);
			*/
		}



});

</script>
