
<h2>{{ title }}</h2>

<form method="post">

	<div class="row">
		<br><br>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		{% if config['ZYNTHIAN_WIFI_STATUS'] in (30, 50, 100) %}
		{% set wifi_status = "ON" %}
		{% elif config['ZYNTHIAN_WIFI_STATUS'] == 20 %}
		{% set wifi_status = "OFF" %}
		{% else %}
		{% set wifi_status = "ERROR" %}
		{% end %}
			<b>Status:</b> {{ wifi_status }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<select id="ZYNTHIAN_WIFI_SSID" name="ZYNTHIAN_WIFI_SSID" class="form-control">
				{% for wifi in config['ZYNTHIAN_WIFI_NETWORKS'] %}
				<option value="{{ wifi['ssid'] }}">{{ wifi['description'] }}</option>
				{% end %}
			</select>
		</div>
	</div>

	{% if errors %}
	<br>
	<div class="row">
		{% for error in errors %}
		<div class="alert alert-danger">{{ str(error) }}</div>
		{% end %}
	</div>
	{% end %}

</form>


<script type="text/javascript">

function wifiListLoaded(data) {
	var i=0;
	$.each(data, function(ssid, info) {
		//$("#ZYNTHIAN_WIFI_SSID").append('<option value="' + ssid + '">' + decodeURIComponent(ssid.replace(/\\x/g,"%"))  + ' (' + info.quality + '%)' + '</option>');
		i++;
	});
	setTimeout(refresh_wifi_list, 5000);
}

function refresh_wifi_list() {
	$.getJSON( '/sys-wifi' , {}, wifiListLoaded );
}

$(document).ready(function(){
	setTimeout(refresh_wifi_list, 2000);
});

</script>
