
<h2>{{ escape(title) }}</h2>

<form method="post">
	<!-- Button HTML (to Trigger Modal) -->
	<a href="#" class="btn btn-lg btn-primar btn-new-network">Add network</a>

	<!-- Modal HTML -->
	<div id="newNetworkModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add network</h4>
				</div>
				<div class="modal-body">
					<label>SSID:</label><br />
					<select id="ZYNTHIAN_WIFI_NEW_SSID_SELECT" name="ZYNTHIAN_WIFI_NEW_SSID_SELECT" class="form-control"
						onchange="document.getElementById('ZYNTHIAN_WIFI_NEW_SSID').value = this.value">
					</select>
					<input id="ZYNTHIAN_WIFI_NEW_SSID" name="ZYNTHIAN_WIFI_NEW_SSID" />
				</div>
				<div class="modal-footer">
				 	<button name="ZYNTHIAN_WIFI_ACTION" value="ADD" class="btn btn-lg btn-theme">Add new network</button><br />
				</div>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs" role="tablist">
		{% for network in config['ZYNTHIAN_WIFI_NETWORKS'] %}
		<li {% if network['idx']==0 %}class="active"{% end %}><a href="#{{  network['ssid64'] }}" role="tab" data-toggle="tab">{{ network['ssid'] }}</a></li>
		{% end %}
		<li ><a href="#wpa_supplicant" role="tab" data-toggle="tab">{{ config['ZYNTHIAN_WIFI_WPA_SUPPLICANT']['title'] }}</a></li>
	</ul>

	<div class="tab-content">
	  {% for network in config['ZYNTHIAN_WIFI_NETWORKS'] %}
		<div class="tab-pane {% if network['idx']==0 %}active{% end %}" id="{{ network['ssid64'] }}">
			<label>Passphrase:</label><br />
			  <input name="ZYNTHIAN_WIFI_PSK_{{ network['ssid'] }}" /><br />
 				<span class="label label-info">This field is always empty, because no passwords will be displayed for security reasons.</span><br />
 				<span class="label label-info">If you want to change the password, enter the new passphrase.</span><br />

				<label>Priority:</label><br />
				<input name="ZYNTHIAN_WIFI_PRIORITY_{{ network['ssid'] }}" value="{{ escape(network['priority']) }}" onchange="document.getElementById('ZYNTHIAN_WIFI_PRIORITY_{{ network['ssid'] }}_UPDATED').value='1';" />
				<input type="hidden" id="ZYNTHIAN_WIFI_PRIORITY_{{ network['ssid'] }}_UPDATED" name="ZYNTHIAN_WIFI_PRIORITY_{{ network['ssid'] }}_UPDATED" /><br /><br />
				<button name="ZYNTHIAN_WIFI_ACTION" value="REMOVE_{{ network['ssid'] }}" onclick="return confirm('Are you sure?');" class="btn btn-danger">Remove Network</button><br />

		</div>
		{% end %}
	  <div class="tab-pane" id="wpa_supplicant">
			<textarea name="ZYNTHIAN_WIFI_WPA_SUPPLICANT" cols="{{ config['ZYNTHIAN_WIFI_WPA_SUPPLICANT']['cols'] }}" rows="{{ config['ZYNTHIAN_WIFI_WPA_SUPPLICANT']['rows'] }}">
				{{ config['ZYNTHIAN_WIFI_WPA_SUPPLICANT']['value'].replace("\\n","\n") }}
			</textarea>
		</div>
	</div>
	<br>
	<button name="ZYNTHIAN_WIFI_ACTION" value="SAVE" class="btn btn-lg btn-theme">Save</button>
</form>


<script type="text/javascript">
function wifiListLoaded(data) {
	var i;
	if ($("#ZYNTHIAN_WIFI_NEW_SSID_SELECT")[0].options) {
		for (i=$("#ZYNTHIAN_WIFI_NEW_SSID_SELECT")[0].options.length-1;i>=0;i--) {
			$("#ZYNTHIAN_WIFI_NEW_SSID_SELECT")[0].remove(i);
		}
	}
	i=0;
	$.each(data, function(ssid, info) {
		$("#ZYNTHIAN_WIFI_NEW_SSID_SELECT").append('<option value="' + ssid + '">' + ssid + ' (' + info.quality + '%)' + '</option>');
		i++;
	});
	if (i>0) {
		$("#ZYNTHIAN_WIFI_NEW_SSID_SELECT").show();
	} else {
		$("#ZYNTHIAN_WIFI_NEW_SSID_SELECT").hide();
	}
	$("#newNetworkModal").modal('show');
}

$(document).ready(function(){
	$(".btn-new-network").click(function(){
		$.getJSON( '/api/wifi/list' , {}, wifiListLoaded );
	});
});
</script>
