<div id="zcontroller_panel" class="modal">
    <div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Zynthian Controllers</h4>
		</div>

		<div class="modal-body">
        	<table class="table">
			<thead>
			<tr>
				<th class="col-md-1">Visible</th>
				<th class="col-md-3">Name</th>
				<th class="col-md-8">Value</th>
			</tr>
			</thead>
			<tbody>
{% for controllername in config['ZCONTROLLERS'] %}
				<tr>
					<td><input type="checkbox"
							   id="ZYNTHIAN_CONTROLLER_VISIBLE_{{ controllername  }}"
							   name="ZYNTHIAN_CONTROLLER_VISIBLE_{{ config['ZCONTROLLERS'][controllername].graph_path[0]  }}" value="{{ config['ZCONTROLLERS'][controllername].name }}" /></td>
					<td>{{  config['ZCONTROLLERS'][controllername].name  }}</td>
					<td>
{% if config['ZCONTROLLERS'][controllername].is_toggle %} 
						<input type="checkbox"
							data-provide="checkbox"
							id="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' +config['ZCONTROLLERS'][controllername].graph_path[0] }}" name="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' +config['ZCONTROLLERS'][controllername].graph_path[0]  }}" value="on" {% if config['ZCONTROLLERS'][controllername].get_value()==1 %}checked="checked"{% end %}" />
{% elif config['ZCONTROLLERS'][controllername].labels %}
						<select id="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' +config['ZCONTROLLERS'][controllername].graph_path[0] }}" name="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' +config['ZCONTROLLERS'][controllername].graph_path[0]  }}" >
{% for item_label in config['ZCONTROLLERS'][controllername].labels %}
		<option value="{{ item_label }}"  {% if config['ZCONTROLLERS'][controllername].get_value2label()==item_label %}selected="selected"{% end %}>{{ item_label }}</option>
{% end %}
						</select>
{% elif config['ZCONTROLLERS'][controllername].is_integer %}
						<input type="range" id="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' + controllername }}" name="ZYNTHIAN_CONTROLLER_VALUE_{{ config['ZCONTROLLERS'][controllername].graph_path[1] + '_' +config['ZCONTROLLERS'][controllername].graph_path[0]  }}" data-provide="slider"
				data-slider-min="{{ config['ZCONTROLLERS'][controllername].value_min }}"
				data-slider-max="{{ config['ZCONTROLLERS'][controllername].value_max }}"
				data-slider-step="1"
				data-slider-value="{{ config['ZCONTROLLERS'][controllername].get_value() }}"
				data-slider-tooltip="show"
						/>
						<script src="../js/audio_mixer.js"></script>
{% end %}
					</td>
				</tr>
{% end %}
			</tbody>
		</table>
		</div>
	<div class="modal-footer">
		<button id="zynthian_controllers_save" class="btn btn-block btn-success" data-dismiss="modal" type="button"><span aria-hidden="true">OK</span></button>
		
	</div>
    </div>
</div>

<script>
$(document).ready(function() {

	$('#display_zcontroller_panel').click(function(){
		scMixers = $('#SOUNDCARD_MIXER')[0].value.split(',');
		for (idx in scMixers){
			for (idx2 in $('#ZYNTHIAN_CONTROLLER_VISIBLE_' + scMixers[idx].trim().split(" ").join("_"))) {
				$('#ZYNTHIAN_CONTROLLER_VISIBLE_' + scMixers[idx].trim().split(" ").join("_"))[idx2].checked = true;
			}
		}
		$('#zcontroller_panel').show(500);
	});


	$('#zcontroller_panel .close').click(function(){
		$('#zcontroller_panel').hide(500)
	});

	window.onclick = function(event) {
		if (event.target == document.getElementById('zcontroller_panel')) {
			$('#zcontroller_panel').hide(500);
		}
	}

	document.getElementById('zynthian_controllers_save').onclick = function(event) {
		if (refreshZynthianControllers()){
			$('#zcontroller_panel').hide(500);
		} else {
			alert('Saving the controllers failed!');
		}
	}

	var deferred = $.Deferred();
	deferred.done(function(value) {
		window.zynthianSocket.registerHandler('AudioConfigMessageHandlers', function(data) {
			if (data){
				console.log("AudioConfigMessageHandler:onmessage:", data);

			}
		});

		//var socketMessage = {"handler_name": "AudioConfigMessageHandler", "data": 'SHOW_DEFAULT'};
		//window.zynthianSocket.send(JSON.stringify(socketMessage));
	});
	connectZynthianWebSocket(deferred);
});

function refreshZynthianControllers(){
	zynthianControllersTextarea = document.getElementById('SOUNDCARD_MIXER') ;

	zynthianControllersTextarea.value = '';
	visibleControllers = $("input[name^=ZYNTHIAN_CONTROLLER_VISIBLE_]:checkbox:checked");
	for (var i = 0; i < visibleControllers.length; i++){
		zynthianControllersTextarea.value += visibleControllers[i].value + ',';
	}
	if (zynthianControllersTextarea.value.slice(-1)==',') zynthianControllersTextarea.value=zynthianControllersTextarea.value.slice(0,-1)

	return true;	
}

</script>
